<nav class="lnb bg3">
    <h2>미용안내</h2>
    <ul>
        <li><a href="#" ui-sref="homeBeauty">미용안내</a></li>
    </ul>
</nav>

<div class="lnbInfo">
    <!--<div class="cpTime">
        <dl class="basic">
            <dt>일반진료</dt><dd>10:00 ~ 21:00</dd>
            <dt>야간진료</dt><dd>21:00 ~ 00:00</dd>
            <dt>응급진료</dt><dd>00:00 ~ 10:00</dd>
        </dl>
        <dl class="meal">
            <dt>점심시간</dt><dd>1시~2시</dd>
            <dt>저녁시간</dt><dd>6시~7시</dd>
        </dl>
    </div>-->
    <div class="cpTime">
        <dl class="basic">
            <dt>일반,외래진료</dt><br><dd>09:00 ~ 22:00</dd>
            <dt>야간,응급진료</dt><br><dd>22:00 ~ 09:00</dd>
            <dt>점심,회진시간</dt><br><dd>13:00 ~ 14:00</dd>
        </dl>
    </div>

    <div class="cpTel">
        <dl class="hosiptal">
            <dd>032-348-7975</dd>
        </dl>
        <dl class="beauty">
            <dt>미용실</dt><dd>032-348-7976</dd>
        </dl>
    </div>
</div>