<div class="contents sub">
    <div class="lnbWrap" ui-view="menu">
    </div>
    <section class="subCon" ui-view>
        <div class="subHdr">
            <h1>미용안내</h1>
        </div>
        <div class="basicCon">

            <div class="imgCon">
                <img src="images/con_beauty.jpg" alt="">
            </div>

            <h2 class="subTitle">강아지</h2>
            <p class="tCon">
                1. <strong>피부가 민감</strong>한 아이는 미리 말씀해주시면 좋습니다.<br>
                2. 예쁜 우리 아이 <strong>컨디션이 좋지 않을 때</strong>는 미용을 잠시 미뤄주세요.<br>
                3. 어린 아가들은 <strong>예방접종 5차 이상</strong> 끝나고 미용하는게 좋습니다.<br>
                4. <strong>원하시는 스타일</strong>이 있으시면 <strong>사진을 미리 준비</strong>해주시면 상담이 빠르게 진행됩니다.<br>
                5. 아이가 특별히 <strong>불편해하는 곳</strong>이 있을땐 잊지 말고 말씀해주십시오. 미용할 때 안아프게 더 배려할 수 있습니다.<br>

            </p>

            <h2 class="subTitle">고양이</h2>
            <p class="tCon">
                1. 저희는 <strong>무마취미용을 원칙</strong>으로 하고 있습니다.<br>
                2. 1년령 미만의 아가들은 <strong>무마취미용시 스트레스가 극심</strong>한 경우가 많습니다.<br>
                3. 고양이는 강아지보다 <strong>미용스트레스에 더 민감</strong>한 편입니다.<br>
                4. <strong>마취미용</strong>을 할 경우에는 <strong>혈액검사가 필요</strong>하므로 미리 자세한 상담을 해주세요.<br>
                5. 무마취미용은 테스트 후에 진행할 수 있습니다.
            </p>

            <h2 class="subTitle">미용후 나타날 수 있는 증상 안내</h2>
            <p class="tCon">
                <strong>1. 발을 많이 핥거나 몸을 긁을 수 있습니다.</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;미용기계에 민감하거나 털이 있다가 없을 때 습관적으로 핥는 경우가 많습니다.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;미용후에 옷을 입힌다거나 놀이를 함께 하면서 아이의 신경을<br>
                &nbsp;&nbsp;&nbsp;&nbsp;분산시켜주시면 도움이 됩니다.<br><br>
                <strong>2. 온몸을 떨거나 활동량이 떨어질 수 있습니다.</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;미용 스트레스로 일시적으로 나타날 수 있습니다. 따뜻하게 안아주세요.<br><br>
                <strong>3. 귀를 털거나 긁을 수 있습니다.</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;귀털을 뽑고 귀속을 닦기 때문입니다. 너무 심하게 긁으면<br>
                &nbsp;&nbsp;&nbsp;&nbsp;상처가 날 수 있으므로 넥칼라를 씌워주시면 도움이 됩니다.
            </p>

            <h2 class="subTitle">미용비</h2>
            <br>
            <table class="tbData beautyData">
                <colgroup>
                    <col style="width:20%;">
                    <col style="width:35%;">
                    <col style="width:20%;">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2">구분</th>
                    <th>내용</th>
                    <th>비용</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th rowspan="9"><strong>강아지</strong></th>
                    <td rowspan="4"><strong>소형견</strong><br><em>(말티즈, 시츄, 요크셔, 푸들, 포메 외)<br>~ 5kg</em></td>
                    <td>전체미용</td>
                    <td>30,000원부터</td>
                </tr>
                <tr>
                    <td>부분미용 (목욕제외)</td>
                    <td>15,000원부터</td>
                </tr>
                <tr>
                    <td>목욕</td>
                    <td>15,000원부터</td>
                </tr>
                <tr>
                    <td>가위컷</td>
                    <td>70,000원부터</td>
                </tr>
                <tr>
                    <td rowspan="4"><strong>중형견</strong><br><em>(코카, 슈나, 스피츠, 외)<br>~ 5kg</em></td>
                    <td>전체미용</td>
                    <td>35,000원부터</td>
                </tr>
                <tr>
                    <td>부분미용 (목욕제외)</td>
                    <td>20,000원부터</td>
                </tr>
                <tr>
                    <td>목욕</td>
                    <td>20,000원부터</td>
                </tr>
                <tr>
                    <td>가위컷</td>
                    <td>90,000원부터</td>
                </tr>
                <tr>
                    <td><strong>대형견</strong><br></td>
                    <td colspan="2">상담요망</td>
                </tr>
                <tr>
                    <th rowspan="2"><strong>고양이</strong></th>
                    <td colspan="2">무마취미용 ~ 5kg</td>
                    <td>70,000원~100,000원<br><em>(5kg 이상은 상담)</em></td>
                </tr>
                <tr>
                    <td colspan="2">마취미용 ~ 5kg</td>
                    <td>70,000원<br><em>(마취비 및 혈액검사비는 별도,<br>5kg 이상은 상담)</em></td>
                </tr>
                </tbody>
            </table>

            <p class="tCon">
                * 모든 미용은 아이의 털상태, 털길이, 스타일에 따라 비용이 달라질 수 있습니다.<br>
                * 많이 예민한 아이들은 추가요금이 발생할 수 있습니다.<br>
                * 미용은 예약제로 운영하고 있습니다.  예약전화 032) 348-7976
            </p>
        </div>
    </section>
</div>