<div class="contents home">

    <div class="mainVisual">
        <div class="inner">
            <h2>사람과 반려동물이 더불어 행복한 <strong>이지동물의료센터</strong></h2>
            <img src="images/img_mv1.png" class="mv">
        </div>
    </div>

    <div class="mainCon">
        제작중...
    </div>
    <!-- 이미지 슬라이드
    <div class="appSlide">
        <div class="asIn">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;width:1000px;height:500px;" >
                </slide>
            </carousel>
        </div>
    </div>
    <div class="clearfix"></div>
    //이미지 슬라이드 -->

</div>










