<nav class="lnb">
    <h2>진료과목</h2>
    <ul>
        <li><a href="#" ui-sref="homeMedicalParts2">외과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">내과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">안과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">치과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">산과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">영상진단과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2">피부과</a></li>
    </ul>
</nav>
