<nav class="lnb bg5">
    <h2>진료과목</h2>
    <ul>
        <li><a href="#" ui-sref="homeMedicalParts2">외과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts1">내과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts2">안과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts3">치과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts4">산과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts5">영상진단과</a></li>
        <li><a href="#" ui-sref="homeMedicalParts2.parts6">피부과</a></li>
        <!--<li><a href="#" ui-sref="homeMedicalParts2.parts7">특수동물과</a></li>-->
        <li><a href="#" ui-sref="homeMedicalParts2.parts8">예방의학과</a></li>
    </ul>
</nav>

<div class="lnbInfo">
    <div class="cpTime">
        <dl class="basic">
            <dt>일반,외래진료</dt><br><dd>09:00 ~ 22:00</dd>
            <dt>야간,응급진료</dt><br><dd>22:00 ~ 09:00</dd>
            <dt>점심,회진시간</dt><br><dd>13:00 ~ 14:00</dd>
        </dl>
    </div>

    <div class="cpTel">
        <dl class="hosiptal">
            <dd>032-348-7975</dd>
        </dl>
        <dl class="beauty">
            <dt>미용실</dt><dd>032-348-7976</dd>
        </dl>
    </div>
</div>