<div class="contents sub">
    <div class="lnbWrap" ui-view="menu">
    </div>
    <section class="subCon" ui-view>
        <div class="subHdr">
            <h1>외과소개</h1>
        </div>
        <div class="basicCon">
            <p class="tCon">
                외과는 약물로 치료가 어렵고  마취하에 수술로 교정이 가능한 질환들을 다루는 과입니다.<br>
                신체검사, 방사선검사, 초음파검사, 혈액검사 등의 임상자료를 토대로 안전한 마취(호흡마취와 약물마취)를 이용하여 소화기·비뇨기·피부 등의 전반적인 질환들을 다루는 일반외과와 골격계에 이상을 다루는 정형외과, 뇌·척수신경 등의 문제를 다루는 신경외과, 심장·식도·폐 등의 질환을 다루는 흉부외과 등으로 구성되어 있습니다.<br>
                외과처치는 대부분 마취가 필요하기때문에 마취안정성 문제, 감염성 문제 등을 고려해야만하고 수술 후 환자의 합병증, 예후 등에 대한 전반적인 상담이 필요한 과입니다.<br>
                본원에서는 고압증기멸균기, EO가스멸균기, 멸균된 일회용 수술포 및 기구등을 사용하고, 마취시 환자의 안전을 위한 감시장비를 이용한 수술 중 심전도, 혈압, 호흡수, 체온, 산소포화도와 맥박수를 측정하여 환자의 안전과 응급상황에 철저히 대비하고 있습니다
            </p>
            <h3 class="subTitle">진료과목 : 일반외과, 정형외과, 신경외과, 종양외과</h3>
            <div class="imgCon"><img src="images/con_mc1_1.jpg" alt=""></div>
            <div class="imgCon"><img src="images/con_mc1_2.jpg" alt=""></div>
            <div class="imgCon"><img src="images/con_mc1_3.jpg" alt=""></div>
            <div class="imgCon"><img src="images/con_mc1_4.jpg" alt=""></div>
        </div>
    </section>
</div>