<div class="subHdr">
    <h1>산과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        동물의 산과는 다양한 생식기 질환을 진단하고 치료하는 진료과입니다.<br>
        특히,  자궁축농증이나 잠복고환유래 종양은 생명을 위협할 수 있는 질환이며 정확한 진단과 수술이 필요합니다.<br>
        산과에서는 이러한 질환 이외에도 반려동물의 교배, 배란검사, 임신진단, 분만, 난산 등의 분만에 필요한 전반적인 것들을 다루고 있습니다.<br>
    </p>
    <div class="imgCon"><img src="images/con_mc5_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc5_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc5_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc5_4.jpg" alt=""></div>
</div>