<div class="subHdr">
    <h1>영상진단과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        영상진단과는 x-ray와 전문 초음파를 이용하여 각종 질병을 진단하고 모니터링하는 진료과입니다.<br>
        본원에서는 풍부한 경험을 가진 영상전공의가 x-ray와 초음파를 이용해 기본적인 진단부터 특수질환 진단까지 담당하고 있습니다.<br>
        X-ray 검사로 내부 장기의 모양과 밀도로 ‘큰 숲’을 확인 한 후, 초음파 검사로 각 장기들의 실시간 (Live)으로 각 장기를 표면의 모양과 밀도 ‘나무 하나 하나씩’ 확인하는 검사를 진행하게 됩니다.<br>
        이외에 치료학 분야에서는  영상진단 장치를 이용하여 미세한 시술을 직접 치료에 응용하고 있습니다. 대표적인 예로 복수 및 흉수, 심낭수의 치료적 및 진단적 천자술 등을 시행하고 있습니다.<br>
        좀더 세밀한 영상을 위해 2차 영상검사센터에 MRI, CT 를 의뢰하여  다양한 골격 질환과 종양의 전이 평가 및 뇌 병변과 디스크진단, 신경질환 등의 진단을 보다 정밀하게 실시하고 있습니다.<br>
    </p>
    <div class="imgCon"><img src="images/con_mc6_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc6_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc6_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc6_4.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc6_5.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc6_6.jpg" alt=""></div>
</div>