<div class="subHdr">
    <h1>피부과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        피부과는 귀를 포함한 전신피부질환을 진단하고 다루는 진료과입니다.<br>
        반려동물의 질환 중 가장 많은 부분을 차지하는 질환은 피부병입니다.<br>
        만성적으로 치료가 잘 되지 않는 피부병에 대해 내재 원인이 있는지 전반적인 스크린 검사와 필요한 경우 피부 조직검사를 실시하여 정확한 진단을 통해 치료가 이루어지도록하고 있습니다.<br>
        본원의 피부과는 가장 많이 발생하는 세균성, 곰팡이성, 기생충성 질환, 알러지, 아토피 등의 피부질환은 물론 중증의 호르몬성 피부질환, 면역매개성 피부질환 등을 진단과 치료를 실시하고 있습니다.<br>
    </p>
    <div class="imgCon"><img src="images/con_mc7_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc7_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc7_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc7_4.jpg" alt=""></div>
</div>