<div class="subHdr">
    <h1>예방의학과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        새로운 반려동물을 입양하셨을 경우, 외부 전염병을 이길 수 있는 항체가 부족하기 때문에 각종 바이러스성 전염병에 아주 취약합니다.<br>
        애견샵, 인터넷, 농장 등에서 분양 받은 반려동물은 전염병에 걸려있을 확률이 높으므로 예방접종을 통해 인위적으로 면역력을 높여주는 것이 필요합니다.<br>
        예방접종을 소홀히 한다면 전염병으로 목숨을 잃을 수도 있기에 중요하며,
        전염병은 접종만으로도 예방이 가능한 질환입니다.<br>

        또한 반려동물은 사람처럼 한 번 접종하면 평생이나 수 년 동안 면역이 유지되지 못하기
        때문에, 매년 추가접종을 진행하게 됩니다.<br>
        생 후 첫해에는 기초접종을 모두 맞고, 매년마다 항체가 형성되어 있는지 검사를 진행 후 추가접종을 진행하고 있습니다.<br>
    </p>
    <div class="imgCon"><img src="images/con_mc9_1.jpg" alt=""></div>
</div>