<div class="subHdr">
    <h1>내과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        내과는 소화기, 순환기, 비뇨기, 내분비계 등의 전반적인 질환을 감별하고 진단, 치료하는 과입니다. 내과는 전체 질환 중 가장 많은 부분을 차지하고 비교적 치료가 용이한 질환에서부터 생명에 위협을 주는 중증질환, 치료하기 힘든 난치성 질환, 지속적인 관리가 필요한 만성질환 등을 다루기 때문에 적절한 치료를 위해 보호자분과 많은 상담이 필요한 과입니다.<br>
        본원은 전문의 시스템으로서 많은 임상경험을 가진 전공 선생님들과 많은 상담을 통해 가장 이상적인 치료 방향을 설정하여 치료를 하고 있습니다.<br>
    </p>
    <h3 class="subTitle">진료과목 : 일반내과, 종양내과, 신경계내과, 순환기내과, 내분비내과</h3>
    <div class="imgCon"><img src="images/con_mc2_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc2_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc2_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc2_4.jpg" alt=""></div>
</div>