<div class="subHdr">
    <h1>특수동물과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        저희 병원에서는 최근 사랑을 받고 있는 강아지와 고양이 뿐 아니라 토끼, 고슴도치, 햄스터, 기니피그 같은 특수동물들이 반려동물로 사랑받고 있습니다. 이런 특수동물들은 먹이 사슬의 하층에 있는 초식동물인 경우가 많아서 개체가 작고 자신의 아픔을 숨기려 해서 질병의 발견이 늦어지는 경우가 많습니다. 또한 특수동물은 해부학, 생리학적으로 육식동물인 개와 고양이와 다르기 때문에 처치와 입원시 각별한 주의가 필요합니다. 저희 병원에서는 특수동물에서 정확한 검사와 적절한 약물 처치로 특수동물의 건강을 위해서 최선을 다하겠습니다.<br>
    </p>
    <div class="imgCon"><img src="images/con_mc8_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc8_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc8_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc8_4.jpg" alt=""></div>
</div>