<div class="subHdr">
    <h1>재활한방센터</h1>
</div>
<div class="basicCon">

    <h2 class="subTitle">전경사진</h2>
    <div class="imgCon"><img src="images/view/part3view1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/view/part3view2.jpg" alt=""></div>

    <h2 class="subTitle">Cavalettis</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>후지파행환자, 디스크환자</li>
                    <li>슬개골탈구술후, 신경계환자</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>고유자세반응 향상</li>
                    <li>균형감각 향상</li>
                    <li>관절 가동범위 증대</li>
                    <li>사지 근력강화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_1.jpg" alt="">
    </div>

    <h2 class="subTitle">Peanut ball</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>후지파행환자, 요추디스크</li>
                    <li>슬개골탈구술후, 관절염</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>후지근력강화, 관절가동성 증가</li>
                    <li>코어근육 강화, 신경계</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_2.jpg" alt="">
    </div>

    <h2 class="subTitle">Peanut ball</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>후지파행환자, 요추디스크</li>
                    <li>견관절손상환자, 주관절손상환자</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>견관절, 주관절 관절 강화</li>
                    <li>상체균형 감각 향상</li>
                    <li>코어근력강화, 앞다리 근력강화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_3.jpg" alt="">
    </div>

    <h2 class="subTitle">Balance Disc</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>디스크환자, 신경계질환 환자</li>
                    <li>관절손상 환자, 파행질환 환자</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>고유자세반응 강화</li>
                    <li>코어근육강화, 사지근육강화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_4.jpg" alt="">
    </div>

    <h2 class="subTitle">Water Tread Mill (WTM)</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>디스크환자, 신경계환자</li>
                    <li>사지 파행환자, 근위축환자</li>
                    <li>비만환자, 각종 관절염 환자</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>고유자세반응 향상</li>
                    <li>관절 가동 범위 향상</li>
                    <li>근력향상, 혈액순환 개선</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_5.jpg" alt="">
    </div>

    <h2 class="subTitle">Laser therapy</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>화농성 피부염,외이염,</li>
                    <li>관절염,근골격계 통증,디스크질환</li>
                    <li>치은염,구내염</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>통증완화,염증감소</li>
                    <li>미세순환증가</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_6.jpg" alt="">
    </div>

    <h2 class="subTitle">Acupuncture</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>디스크,관절염,근육통,신경마비</li>
                    <li>노령견(운동성 향상,삶의질 향상)</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>염증감소,통증완화</li>
                    <li>베타엔돌핀,세로토닌분비촉진</li>
                    <li>신경세포 사멸방지</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_7.jpg" alt="">
    </div>

    <h2 class="subTitle">NMES(신경 근육 전기 신경 자극 )</h2>
    <div class="clinic">
        <div class="cont">
            <h3>적용환자</h3>
            <div class="cnt">
                <ul>
                    <li>디스크,후지파행,고관절이상,십자인대 단열 및 손상,슬개골탈구 수술전,후</li>
                    <li>근육손상 및 통증,인대 손상</li>
                </ul>
            </div>
        </div>
        <div class="cont" style="padding-left: 10px;">
            <h3>치료목적</h3>
            <div class="cnt">
                <ul>
                    <li>근육 경련감소,근육위축예방,근육강화</li>
                    <li>부종완화,통증완화,혈액순환 개선</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imgCon">
        <img src="images/con_mc10_8.jpg" alt="">
    </div>
</div>