<div class="subHdr">
    <h1>안과소개</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        안과는 눈과 관련된 다양한 질병을 치료하는 진료과입니다.  단순한 결막염부터 녹내장치료, 백내장의 관리와 시신경손상을 포함한 안저질환까지 다양한 안과질환은 다루고 있습니다.<br>
        본 원은 안압계, 직접/간접 검안경, 안저검사기, 초음파 등을 보유하고 있으며 각막표면부 검사, 눈물량 검사, 각막부 형광염색검사 등을 통해 각막, 혈관층, 수정체, 망막질환과 외상에 의한 안구 손상 및 선천적, 후천적 안구질환 등의 진단과 치료를 실시하고 있습니다.
        <br>
    </p>
    <div class="imgCon"><img src="images/con_mc3_1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc3_2.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc3_3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/con_mc3_4.jpg" alt=""></div>
</div>