<div class="contents sub">
    <div class="lnbWrap" ui-view="menu">
    </div>
    <section class="subCon" ui-view>
        <div class="subHdr">
            <h1>외과센터</h1>
        </div>
        <div class="basicCon">
            <p class="tCon intro">
                이지 외과센터는 최고 수준의 숙련된 전문 의료진과 최신 외과 장비로 수술시간단축과  최소침습 수술로 통증과 회복시간을 줄여 가족들과  예전의 즐거운 생활로 돌아갈수 있도록 노력 하고있습니다.
                노령동물환자의 안전한 마취를 위한 마취 모니터링시스템으로 마취 환자의 안정을 지키고 있습니다.
                수술에 사용되는 모든 기구와 소모품은 철저한 멸균시스템으로 관리되고 있으며 의료진 또한 완벽한 멸균상태에서 수술이 진행되고 있습니다.<br><br>
                수술후에는 24시간  입원관리로 술후 통증과 합병증 최소화 하고 있습니다.
                이지 외과센터에서는 일반적인 외과수술을 포함한 정형외과와 신경외과수술까지 반려동물에게 발생할수 있는 모든 외과 케이스에 대한 많은 준비를 하고 있습니다.<br>
                점점더 복잡해지고 어려워지는 외과수술을 해결 하기위해 최신의 수술기법과 장비를 빠르게 도입하고 있으며, 정확한 진단과 완벽한 외과적 치료를 위해 연구하고 노력 하겠습니다.<br>
            </p>

            <h2 class="subTitle">전문클리닉</h2>
            <p class="tCon">
                일반외과 : 소화기, 비뇨기, 호흡기, 피부외과<br>
                정형외과 : 골절, 관절질환<br>
                신경외과 : 경추디스크, 요추디스크, 두 개내질환<br>
                종양외과 : 유선종양, 비장종양, 비만세포종, 골육종<br>
            </p>

            <!-- 일반외과 -->
            <h2 class="subTitle">일반외과</h2>
            <p class="tCon">
                일반외과에는 흔히 발생할수 있는 연부조직과 피부와 관련된  위장관계, 비뇨기계, 생식기, 호흡기 관련 수술들을 다루는 외과입니다.<br><br>
                - 위장관계수술에는 위절개술, 장절제술, 장문합수술, 담당절제술, 췌장절제술, 비장절제수술과 항문, 구강관련 수술들이 있습니다.
            </p>

            <h3 class="subTitle">비장절제수술</h3>
            <div class="imgCon"><img src="images/con_mp1_1.jpg" alt=""></div>
            <p class="tCon">
                비뇨기계수술에는 방광결석, 신장결석, 요관결석, 요도결석, 요도성형수술등이 있습니다.
            </p>

            <h3 class="subTitle">방광결석수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_2.jpg" alt="">
                <img src="images/con_mp1_3.jpg" alt="">
            </div>
            <p class="tCon">
                생식기계수술에는 중성화수술, 제왕절개, 자궁축농증, 질탈, 전립선수술등을 실시하고 있습니다.
            </p>

            <h3 class="subTitle">자궁축농증</h3>
            <div class="imgCon">
                <img src="images/con_mp1_4.jpg" alt="">
                <img src="images/con_mp1_5.jpg" alt="">
            </div>
            <p class="tCon">
                이와 일반외과 수술에는 여러부위의 탈장수술
            </p>

            <h3 class="subTitle">회음탈장수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_6.jpg" alt="">
            </div>

            <!-- 정형외과 -->
            <h2 class="subTitle">정형외과</h2>
            <p class="tCon">
                정형외과 수술에는 다양한 종류의 골절수술과 관절수술이 이뤄지고 있습니다. 반려동물의 정형외과는 품종에 따라 체격과 외형이 사람에 비해 너무 다양하기 때문에 그만큼 많은 정형외과 기구가 필요합니다.
                골절을 정복하기위한 방법은 빠른 속도로 발달하고 있기 때문에 과거에 비해 수술성공율또한 높아지고 있습니다.<br><br>
                - 골절수술에는 사지의 골격계의 골절, 골반복합골절, 턱및 말단골격계의 골절수술을 실시하고 있습니다.
            </p>

            <h3 class="subTitle">요척골골절수술</h3>
            <div class="imgCon pic2">
                <img src="images/con_mp1_7.jpg" alt="">
                <img src="images/con_mp1_8.jpg" alt="">
            </div>

            <h3 class="subTitle">대퇴골절수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_9.jpg" alt="">
            </div>

            <h3 class="subTitle">골반골절수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_10.jpg" alt="">
            </div>

            <h3 class="subTitle">경골골절수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_11.jpg" alt="">
            </div>
            <p class="tCon">
                관절질환에는 소형견에서 자주발생하는 슬개골탈구수술과 고관절수술등이 이뤄지고 있습니다.
            </p>

            <h4 class="subTitle">슬개골탈구</h4>
            <p class="tCon">
                슬개골탈구는 슬개골에 영향을 주는 여러 가지 인대, 근육, 관절과 뼈의 복합적인 문제로 발생하며 대부분의 소형견에서는 내측탈구가 많이 발생합니다. 등급과 증상에 따라 다양한 수술방법이 잇으므로 술전에 환자평가가 매우 중요합니다.
            </p>

            <h4 class="subTitle">슬개골탈구 등급</h4>
            <div class="imgCon">
                <img src="images/con_mp1_12.jpg" alt="">
            </div>

            <h4 class="subTitle">슬개골탈구 수술</h4>
            <div class="imgCon">
                <img src="images/con_mp1_13.jpg" alt="">
                <img src="images/con_mp1_14.jpg" alt="">
            </div>

            <h4 class="subTitle">고관절 이형성</h4>
            <div class="imgCon">
                <img src="images/con_mp1_15.jpg" alt="">
            </div>

            <h4 class="subTitle">대퇴골두 절단수술</h4>
            <div class="imgCon">
                <img src="images/con_mp1_16.jpg" alt="">
            </div>

            <!-- 신경외과 -->
            <h2 class="subTitle">신경외과</h2>
            <p class="tCon">
                신경외과에는 대표적으로 요추, 경추디스크 수술을 하고 있습니다. 디스크는 연골이형성품종에서 다발하며 주증상은 갑작스런 후지마비와 파행을 나타내게 됩니다. 초기 디스크는 보존요법(약물치료,물리치료)으로 치료가 가능하지만, 중증의 경우에는 수술적 치료가 반드시 필요합니다. 디스크의 위치와 압박율에 따라 수술적 접근방법과 예후가 달라지므로 MRI와 같은 영상진단이 매우 중요합니다.
            </p>

            <h3 class="subTitle">한센타입1</h3>
            <p class="tCon">
                디스크수핵이 탈출하여 압박하는 형태입니다.
            </p>
            <div class="imgCon">
                <img src="images/con_mp1_17.jpg" alt="">
            </div>

            <h3 class="subTitle">한센타입2</h3>
            <p class="tCon">
                디스크수핵이 돌출되어 압박하는 형태입니다.
            </p>
            <div class="imgCon">
                <img src="images/con_mp1_18.jpg" alt="">
            </div>

            <h3 class="subTitle">hemilaminectomy (반측추궁절제수술)</h3>
            <div class="imgCon">
                <img src="images/con_mp1_19.jpg" alt="">
            </div>

            <h3 class="subTitle">노출된 디스크물질</h3>
            <div class="imgCon">
                <img src="images/con_mp1_20.jpg" alt="">
            </div>

            <h3 class="subTitle">경추디스크 수술 (ventral slot)</h3>
            <div class="imgCon">
                <img src="images/con_mp1_21.jpg" alt="">
            </div>

            <!-- 종양외과 -->
            <h2 class="subTitle">종양외과</h2>
            <p class="tCon">
                최근 반려동물의 수명이 늘어나고 진단기술이 발담함에 따라 사람에서 처럼 다양한 종양이 발생하고 있으며 이를 조기 진단하여 삶의 질을 높여주는게 매우 중요하게 되었습니다.                종양외과에서 수술적제거가 가능한 종양으로는 항문주위종양, 생식기종양, 비장종양, 유선종양, 피부종양, 안검, 구강종양과 골육종등이 있습니다.
            </p>

            <h3 class="subTitle">유선종양 수술</h3>

            <h4 class="subTitle">유선 전 적출</h4>
            <div class="imgCon">
                <img src="images/con_mp1_22.jpg" alt="">
            </div>

            <h4 class="subTitle">유선 반 적출</h4>
            <div class="imgCon">
                <img src="images/con_mp1_23.jpg" alt="">
            </div>

            <h3 class="subTitle">방광종양(TCC)</h3>
            <div class="imgCon">
                <img src="images/con_mp1_24.jpg" alt="">
            </div>

            <h3 class="subTitle">항문 주위종양수술</h3>
            <div class="imgCon">
                <img src="images/con_mp1_25.jpg" alt="">
            </div>

        </div>
    </section>
</div>