<div class="subHdr">
    <h1>CT 영상센터</h1>
</div>
<div class="basicCon">

    <div class="mpHead">
        <h2 class="subTitle">전문클리닉</h2>
        <p class="tCon">
            종양 및 전이 평가 : 두개부(비강, 구강, 귀, 림프절), 흉부(심장, 폐, 림프절), 복부(복강장기, 림프절), 피부(피하, 근육, 림프절), 골격(사지골격, 척추, 두개골, 관절)<br>
            선천적 질환 : 심혈관질환 (동맥관개존증, 우대동맥궁잔존증, 간문맥전신단락 등)<br>
            골격계 질환 : 골절, 선천적 기형<br>
            신경계 질환 : 두개뇌 질환, 척수 질환<br>
            그 외 다양한 질환 : 염증(비염, 외이염 및 중이염, 침샘종, 폐렴), 외상(장기 파열, 출혈), 이물, 결석 등
        </p>
    </div>

    <h2 class="subTitle">소개</h2>
    <p class="tCon intro">
        이지 CT 영상센터는 도시바(TOSHIBA) 다중검출기단층촬영 방식의 장치(Multi-detector CT: MDCT)를 도입하여, 촬영 시간을 단축시키고 영상의 질을 높임으로써 정확한 진단을 제공하고자 합니다. 본원의 CT는 매우 얇은 두께로의 촬영이 가능하며, 촬영 이후에 영상을 재구성하여 원하는 단면상(시상단면, 등단면) 및 삼차원 영상(3D image)을 얻어 진단의 정확성을 높였습니다.<br><br>
        CT는 MRI와 검사와 비교시, 촬영 시간(마취 도입 시간 제외)이 5분 이내로 현저하게 빠르고 검사비용이 저렴하다는 장점이 있습니다. 단, MRI는 연부조직의 표현력 및 대조도가 CT에 비해 높기 때문에 일부 근육, 인대, 신경 실질 병변 등의 질환 진단에 있어서는 좋은 검사법입니다
    </p>

    <h2 class="subTitle">전경사진</h2>
    <div class="imgCon"><img src="images/view/part2view3.jpg" alt=""></div>
    <div class="imgCon"><img src="images/view/part2view4.jpg" alt=""></div>
    <div class="imgCon"><img src="images/view/part2view1.jpg" alt=""></div>
    <div class="imgCon"><img src="images/view/part2view2.jpg" alt=""></div>

    <h2 class="subTitle">종양의 수술범위 결정 및 전이 평가</h2>
    <p class="tCon">
        수술 전 종양의 정확한 위치 및 주변 장기와의 연관성 등을 평가하여 정확한 수술 계획을 고려할 수 있으며, 주변 림프절 및 장기 또는 흉부로의 전이 평가가 가능합니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_10.png" alt="">
        <img src="images/con_mp4_11.png" alt="">
    </div>

    <h2 class="subTitle">간문맥전신단락(PSS)</h2>
    <p class="tCon">
        단락혈관(shunt vessel)의 위치별 정확한 직경 측정이 가능하므로, PSS 수술을 위한 ameroid ring 크기 주문시 유용합니다. 또한 수술 전 단락혈관의 주행방향을 3D 재구성 영상을 통해 확인 가능하므로 도움이 됩니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_12.png" alt="">
        <img src="images/con_mp4_13.png" alt="">
    </div>

    <h2 class="subTitle">디스크질환(IVDD)</h2>
    <p class="tCon">
        디스크 탈출 위치 및 정도를 확인 후 수술에 들어갈 수 있으며, 수술 전과 후의 정확한 비교가 가능합니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_14.png" alt="">
        <img src="images/con_mp4_15.png" alt="">
    </div>

    <h2 class="subTitle">뇌수두증</h2>
    <p class="tCon">
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_16.png" alt="">
    </div>

    <h2 class="subTitle">소장내 이물</h2>
    <p class="tCon">
        환자의 상태에 따라 복부 초음파 이외에도 CT를 이용하여 이물의 빠른 진단이 가능합니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_17.png" alt="">
    </div>

</div>