<div class="subHdr">
    <h1>난치질환센터</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        클리닉 : PRP, 줄기세포<br><br>
        반려동물의 노령화에 따라 퇴행성 질환으로 고통 받는 환자들뿐 아니라 아토피나 만성신부전 등 오랜기간 난치성 질환으로 고생하고 있는 환자들이 좀 더 편안한 생활을 할 수 있도록 도와줄 수 있는 방법은 없을까요?
        인의에서 활발한 연구 및 치료사례가 점차 늘어나고 있는 줄기세포 적용이나 PRP 적용이 수의 분야에서도 많은 효과를 입증하면서 반려동물에게 더 행복한 삶의 질을 제공해줄 수 있는 기회를 주고 있습니다.
        이들의 적용의 가장 큰 장점은 시술이 어렵지 않으며 부작용이 없다는 점입니다.
    </p>

    <h2 class="subTitle">PRP</h2>
    <p class="tCon">
        PRP는 “혈소판이 풍부한 혈장” 이란 뜻으로 혈장 내에 혈소판이 많이 함유 되도록 응축한 것을 뜻합니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp5_1.jpg" alt="">
    </div>
    <p class="tCon">
        PRP는 자가혈이므로 부작용이 없고 시술이 쉬워 다양한 곳에 적용되는데, 건염, 인대염좌나 인대파열, 활액낭염, 골관절이형성, 주관절이형성, 근육파열, 골절의 유합부전 등 적용범위가 넓습니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp5_2.jpg" alt="">
    </div>

    <h3 class="subTitle">PRP 혈소판 함유된 Growth Factor (성장인자)의 역할</h3>
    <p class="tCon">
        PDGF (Platelet derived growth factor) – 세포증식, 혈관의 신생수복, 콜라겐생산<br>
        FGF (Fibroblast growth factor) – 조직을 수복, 콜라겐생산, 히아르론산생산<br>
        EGF (Epithelial growth factor) – 상피세포의 성장촉진, 혈관신생, 상처치유를 촉진<br>
        VEGF (Vascular endothelial growth factor) – 혈관내피세포의 증식신생<br>
        TGF-B (Transforming growth factor-B) – 상피세포, 혈관내피세포의 증식신생, 상처치유를 촉진
    </p>

    <h3 class="subTitle">PRP 자가혈 치료의 원리</h3>
    <div class="imgCon">
        <img src="images/con_mp5_3.jpg" alt="">
    </div>

    <h2 class="subTitle">줄기세포</h2>
    <p class="tCon">
    줄기세포는 다양한 유형의 세포 형태로 분화할 수 있는 능력이 있는 세포로, 대체 조직으로 성장시키기 위해 많은 치료에서 사용되고 있습니다. 지방유래 줄기세포는 골세포, 연골세포, 근세포, 지방세포, 신경조직 등으로 분화가 가능하여 관절염, 척수손상, 신부전, 심부전, 간질환, 신경질환, 내분비계 질환에 있어서의 적용이 활발한 실정이며, 그 적용이 효과를 보고 있는 연구결과 및 사례가 많습니다.
</p>
    <div class="imgCon">
        <img src="images/con_mp5_4.jpg" alt="">
    </div>
    <p class="tCon">
        이지동물의료센터에서는 퇴행성 관절염이나 슬개골 탈구, 십자인대 파열 등의 정형외과 질환 및 아토피, 만성신부전 등의 난치성 질환 치료에 줄기세포를 적용하고 있습니다.
        한 연구결과에서 퇴행성 관절염 질환 환자들에게 줄기세포 적용시 5개월 이내 85%의 케이스에서 움직임이 개선되고 통증이 줄었다고 보고되었습니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp5_5.jpg" alt="">
    </div>
</div>