<div class="subHdr">
    <h1>신경계센터</h1>
</div>
<div class="basicCon">
    <h2 class="subTitle">전문클리닉</h2>
    <p class="tCon">
        신경질환(발작,경련)
    </p>

    <p class="tCon intro">
        반려동물의 증가와 노령화로 인해 사람에서 처럼  각종 뇌신경계, 척수실질 질환이 증가하고 있습니다.
        대부분의 신경계 질환 환자는 전신발작, 혼수, 사지마비, 보행이상, 인지장애(치매) 등의 증상으로 내원하게 됩니다.<br><br>
        이와 같은 증상은 기형, 감염 및 염증, 면역매개질환, 대사질환, 퇴행성 질환, 필수 영양소 결핍, 종양, 외상 등에 의해 발생하게 됩니다.
        원인에 대한 정확한 진단과 치료는 반려동물의 생존기간 및 삶의 질 향상에 중요한 역할을 합니다.<br><br>
        본 센터에서는 전문 의료진과 최첨단 혈액검사 장비와 영상장비를 이용하여 증상에 대한 원인 및 기저질환을 정확하게 진단하고 있습니다.
        이와 더불어 각 질환에 대한 가장 효과적인 치료 및 관리를 위해 본원 외과센터와 종양센터와 협진하고 있으며 최신경향의 약물 도입을 통해 증상완화와 생존기간 연장, 좀 더 나은 삶의 질 향상에 중점을 두고 노력하고 있습니다.
    </p>

    <h2 class="subTitle">육아종성 뇌수막염</h2>
    <p class="tCon">
        immunologic basis인 중추신경계의 특발성 질환으로 단핵구, 대식세포 유래의 세포가 비정상적으로 증가된 상태입니다. toy breed 혹은 테리어 종에 호발하며 6달령에서 12세령 사이에 발생하게 됩니다. 증상은 갑작스럽게 발현되며 거침없는 질병진행이 특징이며 치료하지 않으면 수일 내지 수주 이내에 사망하게 됩니다. 임상증상은 질병이 진행된 부위에 따라 다르지만 발작, 행동이상, 지각과민, 의식변화, 선회운동, 운동실조, 시력소실, 전정계 이상증상, 마비 등이 있습니다. 치료는 여러 가지 신경계 약물로 치료하게 되고 생존기간은 병소의 크기 및 개수에 따라 편차가 심하지만 약물에 대한 반응이 좋다면 2~3년 정도 됩니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_1.jpg" alt="">
    </div>

    <h2 class="subTitle">괴사성 뇌수막염</h2>
    <p class="tCon">
        종 특징적인 염증성 중추신경계 질환입니다. 보통 9개월에서 7세 사이의 퍼그 및 말티즈, 요크셔테리어에서 호발하며 보통 제어되지 않은 경련을 동반하게 됩니다. 병변의 호발부위는 대뇌피질부위이며 급격한 증상 변화가 특징입니다. 보통 신경학적 이상이 빠르게 진행되며 5~7일 내에 제어가 불가능한 경련을 동반하게 됩니다. 심한 경우 일어날 수 없으며 의식이 없는 상태가 됩니다. 효과적인 치료약물은 없으며, 심한 경련으로 인한 뇌손상을 막기 위해 항경련제를 투약하며 산소공급을 하게 됩니다. 예후는 매우 좋지 않으며 적극적인 치료에도 평균생존 기간은 오직 몇 주에 불구하고 임상증상 발현 후 6개월이 채 되지 않습니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_2.jpg" alt="">
    </div>

    <h2 class="subTitle">뇌수두증</h2>
    <p class="tCon">
        뇌실 내 과도한 뇌척수액의 축적으로 인한 뇌실질의 압박에 의한 임상증상이 나타나는 질환입니다. 발병원인은 뇌척수액의 생산 및 순환장애, 흡수장애입니다. 호발하는 품종은 치와와, 말티즈, 요크셔, 포메라이언과 같은 소형품종 및 퍼그나 페키니즈와 같은 단두종에서 호발합니다. 주로 선천적으로 나타나지만 뇌실질의 다른 질환에 의해 2차적으로 나타나기도 합니다. 특징적인 외관은 돔모양의 두개골, 뇌의 압박으로 인한 외사시, 천문이 열려 있는 것입니다. 임상증상은 발작, 경련이 대표적이며 인지능력저하, 자세 및 보행 이상, 의식의 변화 등이 나타나기도 합니다. 치료는 뇌척수액의 생산감소를 위한 내과적 약물 처치 및 뇌실 내 과도하게 축적된 뇌척수액을 뇌실 카테터를 이용하여 복강 내로 우회시키는 방법이 있습니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_3.jpg" alt="">
    </div>

    <h2 class="subTitle">디스크질환</h2>
    <p class="tCon">
        추간판의 퇴행성 변화 및 허니아로 인한 척수신경 압박에 통증 및 신경증상이 나타나는 질병을 총칭합니다. 추간판 허니아의 원인은 체형과 관련되어 생체역학적으로 가해지는 힘과 추간판의 퇴행성 변화를 일으키는 유전요인 등이 있습니다. 닥스훈트, 푸들, 페키니즈, 코카스파니엘, 시츄, 비글 등이 호발품종입니다.
        디스크가 가장 호발하는 부위는 T12-13이나 T13-L1에서 가장 잘 발생합니다. 추간판 파열은 보통 급성으로 발생하고, 추간판 돌출이나 팽창은 만성으로 발생하게 됩니다.
        추간판 파열(Hansen’s type I)은 섬유륜이 완전히 파열되어 수핵이 척주관으로 빠져나오는 것을 말합니다. 추간판 파열은 직접적으로 척수를 압박하고 배쪽 척추 정맥동을 상하게 하여 경막외 공간에 출혈을 유발하고 배/족 척추 동맥을 압박하여 척수 허혈과 섬유연골색전성 척수증을 유발할 수 있습니다. 추간판 돌출(Hansen’s type II)은 섬유륜의 내층이 파열되어 발생하고 수핵이 파열된 섬유륜쪽으로 일부가 빠져나와서 섬유륜의 비대가 발생합니다. 보통 추간판 돌출은 만성적으로 척수를 압박하게 됩니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_4.jpg" alt="">
        <img src="images/con_mp4_5.jpg" alt="">
    </div>
    <p class="tCon">
        임상증상은 초기에 심한 통증반응과 고유자세반응의 결핍이 확인될 수 있고 이후 보행성 부전마비 및 비보행성 부전마비가 발생할 수 있습니다. 또한 요정체, 배변장애, 하반신 마비와 같은 증상이 나타나게 됩니다. 치료는 내과적 약물치료와 척수압박을 해소시키기 위한 외과적 수술법이 있습니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_6.jpg" alt="">
        <img src="images/con_mp4_7.jpg" alt="">
        <img src="images/con_mp4_8.jpg" alt="">
    </div>

    <h2 class="subTitle">선천성혈관기형(PSS)</h2>
    <p class="tCon">
        노폐물을 포함한 문맥혈액이 간을 통해 해독되지 못하고 우회하는 혈관질환을 말합니다.<br>
        암모니아 같은 독소가 간에서 해독되지 못하고 뇌에 영향을 주게 되어 경련 및 의식의 변화와 같은 신경증상을 나타내게 됩니다. 주로 75% 이상은 선천적 혈관 기형에 의해 발생하게 됩니다. 후천적 간문맥 이상은 만성간염과 같은 간문맥압 증가에 의해 간을 거치지 않고 여러 혈관의 우회에 의해 발생하게 됩니다.<br>
        호발 품종은 말티즈, 슈나우져, 요크셔 테리어, 시츄 등에서 호발하며 보통 간외 단일 단락이 흔합니다.<br>
        임상증상은 성장지연, 체중감소, 경련, 발작, 의식저하, 침흘림, 구토, 설사, 시신경 압박에 의한 일시적 실명, 사지부조화, 선회운동 등이 있습니다.<br>
        치료는 단락혈관이 한 개일 경우 외과적 수술을 통한 폐색을 통해 문맥혈액이 정상적으로 간으로 흐르게 해야 합니다. 수술이후에는 폐쇄되어 간으로 혈액이 원활하게 공급될 때까지는 내과적 관리가 필요합니다.<br>
        간 내 단락 및 단락혈관이 여러 개일 경우 수술적 치료는 힘들 수 있으며 이런 경우 내과적 약물에 의한 관리가 필요하게 됩니다
    </p>
    <div class="imgCon">
        <img src="images/con_mp4_9.jpg" alt="">
    </div>

    <h2 class="subTitle">인지장애증후군(CDS)</h2>
    <p class="tCon">
        인지장애증후군은 노령성 질환으로 쉽게 이해하시면 사람의 치매와 비슷하다고 생각하시면 됩니다.<br>
        평가기준은 여러 가지가 있으나 보통 활동력의 변화(활력감소, 무반응, 호기심감소, 식욕저하, 식욕과다), 방향감각상실(멍하니 먼 곳을 응시, 방향을 잘 못찾음), 상호작용감소(가족을 잘 못 알아봄), 수면시간의 변화(수면시간의 증가, 밤에 목적없이 짖음), 배변실수와 같은 항목입니다. 이와 같은 항목에 대한 평가를 점수화시켜 평가하게 되고 점수가 기준에 못 미치더라도 특정항목에 대한 분명한 변화가 있을 시 진단하게 됩니다.
        인지장애증후군은 완치의 개념이 아닌 질병의 진행을 늦추는 것이 주목적으로 좀 더 나은 삶의 질을 누리도록 내복약 관리를 하게 됩니다.
    </p>
</div>