<div class="subHdr">
    <h1>종양,항암센터</h1>
</div>
<div class="basicCon">
    <h2 class="subTitle">전문클리닉</h2>
    <p class="tCon">
        림포마, 유선종양, 비만세포종, 혈관육종, 흑색종
    </p>

    <p class="tCon intro">
        노령화 시대에 따라 암은 사람에서뿐만 아니라 반려동물에서도 사망의 원인 1~2위를 차지하고 있습니다. 사망률의 원인 중 암이 사망 원인이 되는 비율이 10살 이상에서 50%를 차지하고 있으며, 나이를 고려하지 않을 시에도 23%로 높은 비율을 차지하고 있습니다.<br><br>
        이지동물의료센터에서는 종양환자가 병원에 방문하여 시작되는 진찰과 검사, 그리고 치료 전 과정이 환자중심으로 체계적으로 이루어져, 신속하며 가장 질 높은 의료 서비스를 제공하고 있습니다.<br><br>
        과거에는 종양의 진단 후에도 진통제 복용 등의 최소한의 조치만이 이루어졌지만, 동물에서도 사람과 비슷한 수준까지의 의료기술 발전으로 최근에는 생존기간 (Medium survival time)과 삶의 질(Quality of life)을 높이는 여러 가지 방법들이 적용되고 있습니다.<br><br>
        암 환자에서 무엇보다 우선시 되는 것은 정확한 진단이며, 본원에서는 확실한 병기 (Staging) 결정을 통해 초기 암은 물론 진행된 암 환자의 경우에도 적절한 치료의 선택을 도와 환자의 삶의 질을 (Quality of life) 높일 수 있도록 최선을 다하고 있습니다.
    </p>

    <h2 class="subTitle">세침흡인술 (FNA)</h2>
    <p class="tCon">
        세포검사는 비침습적이며, 손쉽고 결과가 빠른 장점을 갖고 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp3_1.jpg" alt="">
        <img src="images/con_mp3_2.jpg" alt="">
    </div>

    <h2 class="subTitle">영상검사</h2>
    <p class="tCon">
        방사선이나 초음파 촬영을 통해 다른 장기로의 먼거리 전이의 유무를 확인할 수 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp3_3.jpg" alt="">
        <img src="images/con_mp3_4.jpg" alt="">
    </div>

    <h2 class="subTitle">조직검사 (Biopsy)</h2>
    <p class="tCon">
        정확한 진단과 종양의 grade 결정을 위해 조직검사는 필수요소입니다. 종양의 종류와 grade 판단 후 차후 항암치료나 2차 수술의 필요성 등을 명확히 할 수 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp3_5.jpg" alt="">
        <img src="images/con_mp3_6.jpg" alt="">
    </div>

    <h2 class="subTitle">수술 (Surgery)</h2>
    <p class="tCon">
        종양치료에 있어서 큰 비중을 차지하는 치료법은 수술적 제거입니다. 본원은 외과 의료진의 풍부한 경험과 기술을 통해 보다 높은 치료율과 만족도를 얻을 수 있게 노력하고 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp3_7.jpg" alt="">
        <img src="images/con_mp3_8.jpg" alt="">
    </div>
    <div class="imgCon pic2">
        <img src="images/con_mp3_9.jpg" alt="">
        <img src="images/con_mp3_10.jpg" alt="">
    </div>

    <h2 class="subTitle">항암치료 (Chemotherapy)</h2>
    <p class="tCon">
        혈액암, 또는 완벽한 수술적 제거가 불가능하거나 수술적 제거 후 전이가 우려되는 종양은 항암치료를 필요로 합니다.<br><br>
        본원에서는 환자와 보호자의 상황에 적합한 항암계획 및 약물 선택으로 차별화된 치료를 위해 힘쓰고 있으며, 표적 항암제나 면역 치료 등 최신 항암제에 대한 연구도 함께 이루어져 보다 나은 치료법을 제공하고자 노력하고 있습니다.<br><br>
        또한 환자와 의료진이 모두 안전할 수 있도록 항암치료에 필요한 안전장비를 모두 갖추고 있어 안전한 치료가 가능할 수 있도록 시설구비 되어 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp3_11.jpg" alt="">
        <img src="images/con_mp3_12.jpg" alt="">
    </div>

    <h2 class="subTitle">LYMPHOMA (림포마, 림프종, 림프육종)</h2>
    <p class="tCon">
        반려 동물에서 가장 높은 비율로 발생하는 악성종양입니다.
        일반적으로 림프절이나 비장, 골수 같은 림프조직에서 발생하지만 몸의 어느 조직에서든 발생할 수 있습니다. 혈액암이므로 수술적 치료는 의미가 없으며 항암치료에 대해 80-90%의 우수한 반응률을 보입니다.
        Multicentric lymphoma 의 진단은 FNA (세침흡인술)를 통해 가능하며, 미성숙 림프구가 50% 이상인 경우 림포마로 진단합니다.
    </p>

    <h3 class="subTitle">FNA (세침흡인술)</h3>
    <div class="imgCon">
        <img src="images/con_mp3_13.jpg" alt="">
    </div>

    <h3 class="subTitle">항암치료 중</h3>
    <div class="imgCon">
        <img src="images/con_mp3_14.jpg" alt="">
    </div>

    <h3 class="subTitle">항암치료 전</h3>
    <div class="imgCon">
        <img src="images/con_mp3_15.jpg" alt="">
    </div>

    <h3 class="subTitle">항암치료 후</h3>
    <div class="imgCon">
        <img src="images/con_mp3_16.jpg" alt="">
    </div>

    <h2 class="subTitle">비만세포종 (Mast cell tumor)</h2>
    <p class="tCon">
        반려견의 피부종양 중 가장 흔한 종양이고 반려묘에서는 피부종양 중 2번째로 흔한 종양입니다.<br><br>
        비만세포는 정상적으로 면역관련 세포로서, 알러지반응을 유발하는 세포입니다.<br><br>
        비만세포종의 평균 발생나이는 8-9세이고 피부 MCT (비만세포종)의 50%가 몸통과 회음부에 발생하며 40%가 다리, 10%가 머리와 목에 발생합니다. 외관이 매우 다양해서, 종양이 아닌 것으로 오인하기 쉽습니다. 비만세포에서 분비되는 histamine으로 인해 소화기 궤양이 MCT (비만세포종) 환자 35-83%에서 관찰되며, 심한 전신증상으로 진행될 시 임상증상으로 구토, 설사, 발열, 발단부종, 드물게 실신 등이 나타날 수 있습니다.<br><br>
        비만세포종 역시 FNA (세침흡인술)로 진단 가능하며, 전이가 없는 병기(stage)에서는 완치를 목표로 치료합니다.<br><br>
        수술적인 제거가 필요한 종양이며, 조직검사 결과 grade 가 높거나, 수술적 제거가 불가능한 경우 항암치료 합니다.
    </p>

    <h3 class="subTitle">FNA (세침흡인술)</h3>
    <div class="imgCon">
        <img src="images/con_mp3_17.jpg" alt="">
    </div>

    <h3 class="subTitle">항암치료 전</h3>
    <div class="imgCon">
        <img src="images/con_mp3_18.jpg" alt="">
    </div>

    <h3 class="subTitle">항암치료 후</h3>
    <div class="imgCon">
        <img src="images/con_mp3_19.jpg" alt="">
    </div>
</div>