<div class="subHdr">
    <h1>심장,신장센터</h1>
</div>
<div class="basicCon">
    <p class="tCon intro">
        최근 반려동물들의 노령화와 비만에 의해 심장 질환이 급증하고 있으며, 이에 따른 증상으로 많은 환자들이 힘들어 하고, 삶의 질이 떨어지고 있습니다. 또한 이런 환자들을 관리하는 보호자분들의 불안감이 시간이 갈수록 커지고 있습니다.<br><br>
        저희 이지동물의료센터는 이런 만성적인 질환인 심부전을 관리하기 위한, 최신 시설과 관리 시스템 그리고 첨단 장비를 보유하고 있으며, 환자가 병원에 도착할 때부터 치료 후 퇴원할 때까지 모든 검사 및 치료과정이 차질 없이 이루어 지도록 노력하겠습니다.
    </p>

    <h2 class="subTitle">전문클리닉</h2>
    <p class="tCon">
        심부전, 고혈압, 판막질환,  심근질환, 심장종양
    </p>

    <h2 class="subTitle">선천성 질환(PDA)</h2>
    <p class="tCon">
        태아기때 폐동맥과 대동맥 사이를 연결하는 동맥관이라는 혈관이, 태어난 후에는 2~3일 정도 유지된 후에 닫히는 것이 정상입니다. PDA란 이 동맥관이라는 혈관이 닫히지 않고 남아있어서, 혈액순환에 문제를 일으키는 질병입니다.
        주로 말티즈나 푸들, 포메라니안 처럼 작은 소형견에서 다발하는 질환입니다.
        치료 방법으로는 개흉을 통하여 비정상 혈관을 결찰하는 방법과 혈전을 생성하는 코일과 같은 장치를 동맥관내 위치시키는 방법이 있습니다.
    </p>

    <div class="imgCon">
        <img src="images/con_mp2_1.jpg" alt="">
    </div>
    <p class="tCon">
        * PDA에 의한 심비대
    </p>

    <div class="imgCon pic2">
        <img src="images/con_mp2_2.jpg" alt="">
        <img src="images/con_mp2_3.jpg" alt="">
    </div>
    <p class="tCon">
        * 폐동맥에 연결된 동맥관
    </p>

    <h2 class="subTitle">부정맥</h2>
    <p class="tCon">
        심장 박동이 불규칙한 질환들을 말하며, 맥이 정상보다 빠를 경우 빈맥, 맥이 정상보다 늦을 경우 서맥 질환들이 있습니다.<br>
        그 외, 심전도을 이용한 다양한 부정맥 질환을 관리 합니다.
    </p>
    <div class="imgCon">
        <img src="images/con_mp2_4.jpg" alt="">
    </div>
    <p class="tCon">
        * 3도 AV block
    </p>
    <p class="tCon">
        3도 방실 차단의 경우 심방 전기파가 심실로 전도되지 않는 현상입니다. 이런 경우 심방과 심실이 물리적으로는 붙어 있지만 전기적으로는 완전히 절연되어 심방의 전기가 심실로 완전히 내려가지 못하는 것입니다. 이런 경우 pacemaker를 장착하여, 심장의 전기적인 신호를 인위적으로 조절해 주어야 합니다.
    </p>

    <h2 class="subTitle">고혈압</h2>
    <div class="imgCon">
        <img src="images/con_mp2_5.jpg" alt="">
    </div>
    <p class="tCon">
        * 동물용 혈압기
    </p>
    <p class="tCon">
        동물의 혈압은 사람보다 정상적으로 조금 높게 측정되는데, 대부분 증상이 없기 때문에 진단이 늦어질 수 있으므로, 노령견의 경우 평소에 혈압을 측정해 보는 것이 중요합니다. 혈압이 너무 높을 경우에는 뇌혈관 질환, 심비대, 망막박리, 신장질환을 유발할 수 있습니다.
        고혈압 환축은 식이 & 체중관리, 투약을 통해 혈압을 유지하며, 정기적인 검진을 통해 합병증을 예방하시면 됩니다.
    </p>

    <h2 class="subTitle">심부전</h2>
    <p class="tCon">
        여러 가지 원인으로 인해 심장 기능이 저하됨으로써 생기는 질환으로, 치료가 늦어질 경우 폐수종 또는 복수 등의 증상에 의해 호흡곤란, 기침, 부종, 운동 불내성이 나타날 수 있는 질환입니다.
        관리 방법으로는 원인 치료가 우선시 되고, 이후 지속적인 약물과 정기적인 검진으로 임상증상을 개선시키는 방법이 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp2_6.jpg" alt="">
        <img src="images/con_mp2_7.jpg" alt="">
    </div>
    <p class="tCon">
        * 심낭수에 의한 심비대
    </p>
    <p class="tCon">
        심낭에 다량의 액체가 저류 할 경우 직접 심낭수를 제거하는 방법도 실시하고 있으며, 소량의 경우에는 약물로 관리하고 있습니다.
    </p>

    <h2 class="subTitle">심장 판막 질환</h2>
    <p class="tCon">
        심장에는 판막이 4개 존재하며, 이러한 판막의 기능에 이상이 생기는 질환을 말합니다. 강아지의 심장 질환 중에 대부분을 차치하고 있습니다.
        심장 부담을 덜어주는 약으로 지속적으로 관리하고 있으며, 이첨판 폐쇄부전의 경우 수술적인 방법으로 교정하는 시술이 보고되어 있습니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp2_8.jpg" alt="">
        <img src="images/con_mp2_9.jpg" alt="">
    </div>
    <p class="tCon">
        * 이첨판 폐쇄 부전에 의한 심비대
    </p>
    <div class="imgCon">
        <img src="images/con_mp2_10.jpg" alt="">
    </div>
    <p class="tCon">
        * 이첨판 폐쇄 부전에 의한 역류 초음파 사진
    </p>

    <h2 class="subTitle">심근질환</h2>
    <p class="tCon">
        심장의 근육이 늘어나거나, 비정상적으로 두꺼워지는 질환을 의미하며, 개의 경우 확장성 심근증(DCM)이, 고양이의 경우 비대성 심근증(HCM)이 많이 발생합니다.
        고양이 HCM의 경우 폐수종과 폐부종 또는 흉수가 발생하기도 합니다. 또한 혈전이 많이 생기는 질환으로 심할 경우에는 후지 마비가 일어날 수 있으며, 급사의 가능성이 있는 무서운 질환입니다. 이런 이유로 진단 후 평균 생존 기간은 6개월 정도로 짧습니다.
        지속적인 투약과 체중 관리를 통해 삶의 질을 향상 시키는 것이 최선의 방법입니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp2_11.jpg" alt="">
        <img src="images/con_mp2_12.jpg" alt="">
    </div>
    <p class="tCon">
        * HCM에 의한 심장 비대, 초음파상 심근의 두께가 기준치 이상일 경우 진단 가능
    </p>

    <h2 class="subTitle">심장 종양</h2>
    <p class="tCon">
        대부분의 심장 종양은 나이가 많은 반려동물에서 발생하며, hemangiosarcoma, lymphoma, aortic body tumor, mesothelioma, cardiac myxoma 등이 발생하는 것으로 보고되었습니다. 방사선 검사, 초음파 검사, CT 검사를 통해 확인 가능 합니다.
        심장 종양의 주증상은 기침, 구토, 과호흡, 복수, 부정맥, 식욕 감소가 나타날 수 있으며, 기본적인 검사에서는 간 & 비장 종대, 다른 장기로의 전이 등이 확인 되는 경우도 있습니다.
        치료는 항암치료와 심부전에 대한 치료로 구분됩니다. 심부전에 대한 치료는 주로 투약과 종양에 의해 발생하는 합병증 관리가 주로 실시 됩니다.
    </p>
    <div class="imgCon pic2">
        <img src="images/con_mp2_13.jpg" alt="">
        <img src="images/con_mp2_14.jpg" alt="">
    </div>
    <p class="tCon">
        * 우심방과 우심실 사이 심근 종양
    </p>

</div>