<div class="subHdr">
    <h1>건강검진센터</h1>
</div>
<div class="basicCon">
    <p class="tCon">
        최근 반려동물에 대한 보호자분들의 관리와 수의 의료수준이 향상됨에 따라 평균 수명도 함께 늘어나고 있습니다. 그에 따라 반려동물에게 생기는 질환들의 양상도 함께 변화하고  예전에 비해 관절, 호르몬, 종양, 심혈관계 질환 등이 많이 발견되고 있습니다. 이러한 질환들은 초기에 진단하고 치료하는 것이 매우 중요합니다.<br><br>
        이에 따라 본원은 어린나이에서부터 노령기 까지 각 연령에 맞는 특화된 건강검진시스템을 실시하여 발생가능성이 높은 질환들을 조기에 진단하고 예방하고 치료하고 있습니다.<br><br>
        우리 아이들은 몸이 불편하거나 아픈 곳이 있어도 직접 말을 할 수 없습니다. 그러므로 아이들과 함께 건강하고 행복한 생활을 함께 하기 위해서는 꼭 주기적인 건강검진으로 아이의 건강상태를 확인해 주세요.
    </p>

    <h2 class="subTitle">분양 후 건강검진</h2>
    <p class="tCon">
        분양시기는 반려동물의 어미에게 받은 모체이행항체가 떨어지고 생활환경이 바뀜에 따라 다양한 질환에 노출이 되는 시기입니다. 분양 후 병원에 내원하셔서 기본적인 건강상태와 전염성 질환과 소화기, 호흡기 관련 질환을 확인해 주세요.
    </p>
    <table class="tbData">
        <colgroup>
            <col style="width:20%;">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>분류</th>
            <th>검사항목</th>
            <th>세부내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>신체검사</td>
            <td>시진,촉진,청진,체온</td>
            <td class="left">기본적인 신체상태와 활력징후를 평가</td>
        </tr>
        <tr>
            <td rowspan="2">분변검사</td>
            <td>분변 직접 현미경 검사</td>
            <td class="left">분변내 충란, 유충 존재여부 등을 평가</td>
        </tr>
        <tr>
            <td>분변 염색 현미경 검사</td>
            <td class="left">분변내 병적세균의 존재여부 등을 평가</td>
        </tr>
        <tr>
            <td rowspan="2">전염병검사</td>
            <td>개 파보/코로나/홍역 등</td>
            <td class="left">주요 전염병의 감염여부를 평가</td>
        </tr>
        <tr>
            <td>고양이 범백/면역부전/백혈병 등</td>
            <td class="left">주요 전염병의 감염여부를 평가</td>
        </tr>
        <tr>
            <td>기타</td>
            <td class="left">검이경 검사, 전염병 PCR 의뢰검사 등</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <h2 class="subTitle">성년기 기본건강검진</h2>
    <p class="tCon">
        대부분의 반려동물들은 이 시기를 건강하게 보내지만 선천적인 질환이 있거나 생활환경이나 식습관의 문제로 증상이 나타나지 않지만 서서히 질환이 진행되는 경우가 많습니다.  노령기의 건강상태는 성년기의 건강관리로부터 시작 된다고 볼 수 있으므로 전문가와 상담을 통해 건강한 성년기를 보낼 수 있도록 해주세요.
    </p>
    <table class="tbData">
        <colgroup>
            <col style="width:20%;">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>분류</th>
            <th>검사항목</th>
            <th>세부내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>신체검사</td>
            <td>시진,촉진,청진,체온</td>
            <td class="left">기본적인 신체상태와 활력징후를 평가</td>
        </tr>
        <tr>
            <td>전염병검사</td>
            <td>심장사상충, 백신항체가 검사</td>
            <td class="left">심장사상충 감염여부 평가, 백신을 통해 생성된 체내 항체수준을 평가</td>
        </tr>
        <tr>
            <td rowspan="3">혈액검사</td>
            <td>혈구 검사</td>
            <td class="left">혈액내 적혈구, 백혈구, 혈소판 등의 수치들을 평가</td>
        </tr>
        <tr>
            <td>혈청화학 12종 검사</td>
            <td class="left">간·신장 등 실질장기의 손상여부 및 기능평가</td>
        </tr>
        <tr>
            <td>혈액가스/전해질 검사</td>
            <td class="left">혈액의 산증/염기증 및 전해질 수치들을 평가</td>
        </tr>
        <tr>
            <td rowspan="2">방사선검사</td>
            <td>흉부방사선</td>
            <td class="left">심장, 폐, 기관지, 골격계 등을 평가</td>
        </tr>
        <tr>
            <td>복부방사선</td>
            <td class="left">소화기, 비뇨기, 골격계 등을 평가</td>
        </tr>
        <tr>
            <td>초음파검사</td>
            <td>복부초음파</td>
            <td class="left">복강내 장기(간, 담낭, 비장, 신장, 방광 등) 평가</td>
        </tr>
        <tr>
            <td>소변검사</td>
            <td>요스틱, 요비중, 요침사</td>
            <td class="left">당뇨, 결석, 방광염, 신장질환 등을 평가</td>
        </tr>
        <tr>
            <td>기타</td>
            <td class="left">안과, 치과, 신경계 검사</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <h2 class="subTitle">노령기 종합건강검진</h2>
    <p class="tCon">
        반려동물에 있어서 8살이 되면 사람나이 50세에 해당하는 나이입니다. 면역력의 저하와 각 장기들의 노화로 사람과 같이 노령성 질환들이 생기기 시작합니다. 노령성 질환들은 초기에 두드러진 증상들을 보이지 않기 때문에 조기발견이 힘들며 증상이 동반되어 질환이 진단 되었을 때는 이미 치료시기를 놓쳐 버리기 쉽습니다. 정기적인 종합검진으로 혹시 일어날 수 있는 노령성 질병을 조기에 확인하고 적절한 치료와 관리를 통해 아이들의 건강하고 행복한 노후를 함께해주세요.
    </p>
    <table class="tbData">
        <colgroup>
            <col style="width:20%;">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>분류</th>
            <th>검사항목</th>
            <th>세부내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2">신체검사</td>
            <td>시진,촉진,청진,체온</td>
            <td class="left">기본적인 신체상태와 활력징후를 평가</td>
        </tr>
        <tr>
            <td>혈압</td>
            <td class="left">도플러 혈압계를 이용해 고혈압/저혈압 상태를 평가</td>
        </tr>
        <tr>
            <td>전염병검사</td>
            <td>심장사상충, 백신항체가 검사</td>
            <td class="left">심장사상충 감염여부 평가, 백신을 통해 생성된 체내 항체수준을 평가</td>
        </tr>
        <tr>
            <td rowspan="5">혈액검사</td>
            <td>혈구 검사</td>
            <td class="left">혈액내 적혈구, 백혈구, 혈소판 등의 수치들을 평가</td>
        </tr>
        <tr>
            <td>혈청화학 18종 검사</td>
            <td class="left">간·신장·췌장 등 실질장기의 손상여부 및 기능평가</td>
        </tr>
        <tr>
            <td>혈액가스/전해질 검사</td>
            <td class="left">혈액의 산증/염기증 및 전해질 수치들을 평가</td>
        </tr>
        <tr>
            <td>디다이머</td>
            <td class="left">디다이머 상승시 관련질환 : DIC, 내부출혈, 간질환, 만성신장질환 등</td>
        </tr>
        <tr>
            <td>응고계 검사</td>
            <td class="left">혈액응고 지연시 관련질환 : 간질환, Vit.K결핍, 살서제중독, DIC 등</td>
        </tr>
        <tr>
            <td rowspan="2">방사선검사</td>
            <td>흉부방사선</td>
            <td class="left">심장, 폐, 기관지, 골격계 등을 평가</td>
        </tr>
        <tr>
            <td>복부방사선</td>
            <td class="left">소화기, 비뇨기, 골격계 등을 평가</td>
        </tr>
        <tr>
            <td rowspan="2">초음파검사</td>
            <td>복부초음파</td>
            <td class="left">복강내 장기(간, 담낭, 비장, 신장, 방광 등) 평가</td>
        </tr>
        <tr>
            <td>심장초음파</td>
            <td class="left">판막질환, 심낭질환, 심근질환 등을 평가</td>
        </tr>
        <tr>
            <td>소변검사</td>
            <td>요스틱, 요비중, 요침사</td>
            <td class="left">당뇨, 결석, 방광염, 신장질환 등을 평가</td>
        </tr>
        <tr>
            <td rowspan="2">기타</td>
            <td>안과, 치과, 신경계 검사</td>
            <td></td>
        </tr>
        <tr>
            <td>호르몬검사, CRP, 심전도, 내시경 등</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>