<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.min.css">

    <link rel="stylesheet" href="app.css">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="../bower_components/jquery-ui/ui/minified/i18n/datepicker-ko.min.js"></script>
    <script src="../bower_components/jquery-bootpag/lib/jquery.bootpag.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/swiper/dist/js/swiper.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="../components/smarteditor/js/HuskyEZCreator.js"></script>
    <!-- 로컬 개발용
    <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=f33808d9e40afa39a34ab96eb0cc61ae"></script>
    -->
    <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=bbabe096950ac665ceff35067939816d"></script>

    <script src="js/ui.js"></script>
    <script src="app.module.js"></script>
    <script src="app.route-config.js"></script>
    <script src="app.config.js"></script>
    <script src="app.js"></script>
    <script src="js/DataFactory.js"></script>

    <script src="view/indexHome.js"></script>
    <script src="view/homeInfo/homeInfoController.js"></script>
    <script src="view/homeMap/homeMapController.js"></script>
    <script src="view/homeBeauty/homeBeautyController.js"></script>
    <script src="view/homeBoard/homeBoardController.js"></script>

</head>
<body ng-app="app" ng-controller="HomeController">
<div class="totalWrap">

    <!-- header -->
    <header class="header">
        <div class="inner">
            <h1><a href="#" ui-sref="ezamc" ui-sref-opts="{reload: true}">이지동물의료센터</a></h1>
            <nav class="gnb">
                <ul>
                    <li><a role="button" ui-sref="homeInfo">병원소개</a></li>
                    <li><a role="button" ui-sref="homeMedicalParts1.parts3">특화진료</a></li>
                    <li><a role="button" ui-sref="homeMedicalParts2">진료과목</a></li>
                    <li><a role="button" ui-sref="homeBeauty">미용안내</a></li>
                    <li><a role="button" ui-sref="homeBoard" ui-sref-opts="{reload: true}">알림마당</a> </li>
                    <li><a role="button" ui-sref="homeMap">오시는길</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- //header -->

    <!-- Container -->
    <div class="container" ui-view>

    </div>
    <!-- //Container -->
    <!-- 팝업 레이어 -->
    <style type="text/css">

        .popupLay{
            width:466px; height:690px;
            position:absolute; top:100px; left:25%;
            border:1px solid #000; z-index:9999; background-color: #fff;
        }
        .popupLay img{max-width:none;}

        .popupLay1{
            width:466px; height:350px;
            position:absolute; top:100px; left:60%;
            border:1px solid #000; z-index:9999; background-color: #fff;
            display: none;
        }

        .closePop{float:right;padding-right:10px;}
        .closePop label{float:left; font-size:12px; color:#000 !important; margin:4px 10px 0 0;}
        .closePop label input{position:relative;top:-3px;left:-3px;}
        .closePop a{float:left; border:1px solid #000; font-size:13px; color:#000 !important; padding:2px 5px; font-weight:bold;}

    </style>

    <div id="pop" class="popupLay">
        <div>
            <img src="images/popimg.jpg"/>
        </div>
        <div class="closePop">
            <form name="pop_form">
            <label><input type="checkbox" name="chkbox" value="checkbox">오늘 하루동안 보지 않기</label>
            <a href="#" ng-click="closePop()">CLOSE</a>
            </form>
        </div>

    </div>
    <div id="pop1" class="popupLay1">
        <div>
            <img src="images/popimg1.jpg"/>
        </div>
        <div class="closePop">
            <form name="pop_form1">
            <label><input type="checkbox" name="chkbox1" value="checkbox">오늘 하루동안 보지 않기</label>
            <a href="#" ng-click="closePop1()">CLOSE</a>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="inner">
            <dl>
                <dt>법인(상호)명 :</dt><dd>{{hospitalName}}</dd>
                <dt>사업자등록번호 :</dt><dd>{{corpRegNumber}}</dd>
                <dt>대표자 :</dt><dd>{{representStaffName}}</dd>
                <dt>이메일 :</dt><dd>{{email}}</dd>
                <dt>FAX :</dt><dd>{{fax}}</dd>
            </dl>
            <address>주소 : 경기 부천시 원미구 역곡2동 49-5 조양시티프라자 103호 420-834</address>
            <p>본 사이트에서 사용된 모든 일러스트, 그래픽 이미지와 내용의 무단 도용을 금합니다.</p>

            copyrightⓒ all rights reserved<br>
            Hosting by <a href="http://www.allpethome.com/">ALLPET</a>. Designed by <a href="http://www.allpethome.com/">ALLPET</a>.
            <a role="button" ng-click="adminLogout()" ng-show="isAdmin">로그아웃</a>
            <a role="button" ng-click="adminLogin()" ng-hide="isAdmin">관리자로그인</a>
        </div>
    </footer>
</div>
</body>
</html>