<div id="wrap">

	<!-- 탑 비주얼 부분 시작-->
    <div class="sub_visual02">
        <a role="button" ui-sref="svma"><h2>회원공간</h2></a>
        <p class="top_txt01">화합과 소통을 통한 회원 중심의 건실한 수의사회</p>
        <p class="btn_login loginFalse"><a role="button" ui-sref="companyInfo.login"><img src="images/login.png" alt="login"></a></p>
        <p class="btn_login loginTrue"><a href="javascript:logout()"><img src="images/logout.png" alt="logout"></a></p>
    </div>
    <!-- //탑 비주얼 부분 끝-->
    
    <!-- 메뉴 부분 시작-->
    <div id="menu">
    	<ul>
        	<li style="width:34%;"><a role="button" ui-sref="companyInfo.company01">서울시수의사회소개</a>
            	<div class="s_menu01">
                    <ul>
                        <li><a role="button" ui-sref="companyInfo.company01">인사말</a></li>
                        <li><a role="button" ui-sref="companyInfo.company02">연혁</a></li>
                        <li><a role="button" ui-sref="companyInfo.company03">정관</a></li>
                        <li><a role="button" ui-sref="companyInfo.company04">윤리강령</a></li>
                        <li><a role="button" ui-sref="companyInfo.company05">기구/직제표</a></li>
                        <li><a role="button" ui-sref="companyInfo.company06">분회장</a></li>
                    </ul>
                </div>
            </li>
            <li class="on" style="width:33%;"><a role="button" ui-sref="boardInfo.list01({ boardType: '01' })" ui-sref-opts="{reload: true}">회원공간</a>
            	<div class="s_menu02">
                    <ul>
                        <li><a role="button" ui-sref="boardInfo.list01({ boardType: '01' })" ui-sref-opts="{reload: true}" class="first">공지사항</a></li>
                        <li><a role="button" ui-sref="boardInfo.list02({ boardType: '04' })" ui-sref-opts="{reload: true}">공동구매</a></li>
                        <li><a role="button" ui-sref="boardInfo.list03({ boardType: '02' })" ui-sref-opts="{reload: true}">회원 게시판</a></li>


                        <!--<li><a href="../sub/list03.html">자료실</a></li>-->
                    </ul>
                </div>
            </li>
            <li style="width:33%;"><a role="button" ui-sref="reserveInfo.list01">교육예약</a></li>
        </ul>
    </div>
    <!--// 메뉴 부분 끝-->
    
    <div>

        <div id="contents" ui-view>
        </div>
        <!-- // 모바일 컨텐츠 끝-->
        
        
        <div class="bottom_bnn">
        	<ul>
            	<li><a href="#"><img src="images/bottom_bnn.jpg" alt="#"></a></li>
                <li><a href="#"><img src="images/bottom_bnn.jpg" alt="#"></a></li>
                <li><a href="#"><img src="images/bottom_bnn.jpg" alt="#"></a></li>
                <li><a href="#"><img src="images/bottom_bnn.jpg" alt="#"></a></li>
            </ul>
        </div>
    </div>
</div>