
        <!-- pc / 모바일 컨텐츠 시작-->
        <div id="sub_pc" style="padding-bottom:0;">
        	<p class="top_area"><img src="images/sub0202_tt.jpg" alt="#"></p>
        </div>
        <!-- // pc 컨텐츠 끝-->
        
        <!-- 모바일 컨텐츠 시작-->
        <div id="sub_mo" style="margin-top:147px;">
        	<div class="m_top_area">
                <h4>회원게시판</h4>
                <p class="m_tt01">서울특별시 수의사회 회원게시판 입니다.</p>
                <p class="m_tt02">서울시수의사회 홈페이지가 수의사는 물론 동물을 사랑하는 모든 분들에게 유익한 정보를 제공하고 바람직한 반려동물 문화의 요람이 되고자 새롭게 개편되었습니다.</p>
            </div>
        </div>
        <!-- // 모바일 컨텐츠 끝-->
        
        <div class="list">
            <table cellpadding="0" border="0" cellspacing="0" class="table_list" id="listData">
                <colgroup>
                <col width="8%" /><col width="15%" /><col width="*" /><col width="12%" /><col width="12%" />
                </colgroup>
                <tr>
                    <th class="num">No.</th>
                    <th class="name">작성자</th>
                    <th class="title">제목</th>
                    <th class="data">등록일</th>
                    <th class="hit">조회수</th>
                </tr>
            </table>
            <div class="paging">
                <!-- pc 버전 -->
                <ul class="num_pc">
                	<li><a href="#"><img src="images/bu_left.png" alt="#"></a></li>
                	<li class="on"><a href="#">1</a></li>
                    <li><a href="#"><img src="images/bu_right.png" alt="#"></a></li>
                </ul>
                
                <!-- 모바일 버전 -->
                <ul class="num_mo">
                	<li><a href="#"><img src="images/bu_left.png" alt="#"></a></li>
                    <li><a href="#"><img src="images/bu_right.png" alt="#"></a></li>
                </ul>
                <p class="btn_right"><a href="list02_edit.html" class="btn_blue">글쓰기</a></p>
            </div>
            
            <!--<div class="search_area">
            	<select id="" name="" class="select01" style="width:30%;">
					<option value="">제목</option>
					<option value="">내용</option>
					<option value="">제목+내용</option>
				</select>
                <input id="price" type="text" value="" class="input01" style="width:68%;"/>
                <a href="#" class="btn_search">검색</a>
            	
            </div>-->
        </div>
        <!--<p class="btn_top_go"><a href="#">--&nbsp;&nbsp;TOP&nbsp;&nbsp;--</a></p>-->