<div class="subHdr">
    <h1>병원시설소개</h1>
</div>
<div class="basicCon">
    <h2 class="subTitle">실외전경</h2>
    <div class="imgCon"><img src="images/hospital/실외전경.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">1층데스크</h2>
    <div class="imgCon"><img src="images/hospital/1층데스크.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2층 보호자대기실</h2>
    <div class="imgCon"><img src="images/hospital/2층보호자대기실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">CT실</h2>
    <div class="imgCon"><img src="images/hospital/CT.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">CT2실</h2>
    <div class="imgCon"><img src="images/hospital/CT2.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">제1수술실</h2>
    <div class="imgCon"><img src="images/hospital/제1수술실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">제2수술실</h2>
    <div class="imgCon"><img src="images/hospital/제2수술실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">집중치료실</h2>
    <div class="imgCon"><img src="images/hospital/집중치료실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">처치실</h2>
    <div class="imgCon"><img src="images/hospital/처치실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">수술실입구</h2>
    <div class="imgCon"><img src="images/hospital/수술실입구.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">고양이진료실</h2>
    <div class="imgCon"><img src="images/hospital/고양이진료실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">1진료실</h2>
    <div class="imgCon"><img src="images/hospital/1진료실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2진료실</h2>
    <div class="imgCon"><img src="images/hospital/2진료실.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">용품샵</h2>
    <div class="imgCon"><img src="images/hospital/용품샵.jpg" alt=""></div>
    <p class="tCon">
    </p>
</div>