<div class="subHdr">
    <h1>보유장비 소개</h1>
</div>
<div class="basicCon">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-click="selectTab(tab)">
        </tab>
    </tabset>

    <div class="eqList">
        <img src="images/equipment/10번 정형외과용 가스드릴.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 가스드릴</h3>
            <p>정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴</p>
        </div>
    </div>

    <div class="eqList">
        <img src="images/equipment/10번 정형외과용 가스드릴.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 가스드릴</h3>
            <p>정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴
                정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴
                정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴
                정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴정형외과용 가스드릴</p>
        </div>
    </div>

</div>