<div class="subHdr">
    <h1>병원시설소개</h1>
</div>
<div class="basicCon">
    <h2 class="subTitle">병원외부전경</h2>
    <div class="imgCon"><img src="images/hospital/30.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">1층데스크</h2>
    <div class="imgCon"><img src="images/hospital/20.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">용품샵</h2>
    <div class="imgCon"><img src="images/hospital/21.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">응급실 및 수술실</h2>
    <div class="imgCon"><img src="images/hospital/22.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">각종상패</h2>
    <div class="imgCon"><img src="images/hospital/18.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2층대기실-1</h2>
    <div class="imgCon"><img src="images/hospital/1.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2층대기실-2</h2>
    <div class="imgCon"><img src="images/hospital/4.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2층대기실-3</h2>
    <div class="imgCon"><img src="images/hospital/3.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">1진료실</h2>
    <div class="imgCon"><img src="images/hospital/6.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">2진료실</h2>
    <div class="imgCon"><img src="images/hospital/23.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">중앙처치실입구</h2>
    <div class="imgCon"><img src="images/hospital/5.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">중앙처치실-1</h2>
    <div class="imgCon"><img src="images/hospital/14.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">중앙처치실-2</h2>
    <div class="imgCon"><img src="images/hospital/15.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">중앙처치실-3</h2>
    <div class="imgCon"><img src="images/hospital/19.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">임상병리실</h2>
    <div class="imgCon"><img src="images/hospital/28.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">방사선실</h2>
    <div class="imgCon"><img src="images/hospital/16.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">초음파실</h2>
    <div class="imgCon"><img src="images/hospital/29.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">입원병동-1</h2>
    <div class="imgCon"><img src="images/hospital/12.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">입원병동-2</h2>
    <div class="imgCon"><img src="images/hospital/10.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">중환자입원병동</h2>
    <div class="imgCon"><img src="images/hospital/31.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">항암후드</h2>
    <div class="imgCon"><img src="images/hospital/11.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">약재실</h2>
    <div class="imgCon"><img src="images/hospital/7.jpg" alt=""></div>
    <p class="tCon">
    </p>
    <h2 class="subTitle">세미나실</h2>
    <div class="imgCon"><img src="images/hospital/17.jpg" alt=""></div>
    <p class="tCon">
    </p>
</div>