<div class="subHdr">
    <h1>보유장비 소개</h1>
</div>
<div class="basicCon">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-click="selectTab(tab)">
        </tab>
    </tabset>
    <div class="eqList">
        <img src="images/equipment/소노큐어.png" class="thumbs" alt="">
        <div class="cont">
            <h3>소노큐어</h3>
            <div class="cnt">
                <ul>
                    <li>세계 최고의 디스크 / 종양 전문 초음파 수술 장비 SonoCure</li>
                    <li>주변 조직손상 최소화</li>
                    <li>미세침습을 통한 회복시간 단축</li>
                    <li>종양(비강, 간, 뇌), 디스크(신경), 조직박리(유착) 전용 수술장비</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/25번레이저수술.jpeg" class="thumbs" alt="">
        <div class="cont">
            <h3>다이오드 레이저</h3>
            <div class="cnt">
                <ul>
                    <div>레이저수술</div>
                    <li>수술 소요시간 단축</li>
                    <li>빠른 피부조직의 회복과 성장</li>
                    <li>개선된 신진 대사의 활동</li>
                    <div>레이저치료</div>
                    <li>반흔조직(흉터)생성 감소</li>
                    <li>항염증 및 조직, 세포 재상속도 증진</li>
                    <li>상처치유 촉진</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/1번 혈청검사기.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>혈청 검사기</h3>
            <div class="cnt">
                <ul>
                    <li>빠른 검사 속도(시간당 전해질검사 포함 최대 128 테스트 처리 가능)</li>
                    <li>스크린 방식(7인치)으로 수치 및 그래프 결과확인 및 프린트, 전송 가능</li>
                    <li>검체 흡입 및 분주에서 검사 완료까지 전 과정이 자동화</li>
                    <li>CRP (C-Reactive Protein) 동시 검사(자동 희석기능) 가능</li>
                    <li>최대 22항목 동시 검사 가능</li>
                    <li>채혈량 최소화(6~10ul, 전해질 50ul)</li>
                    <li>Compact Design</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/2번 ABL 80 혈액가스+전해질.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>ABL 80 혈액가스+전해질</h3>
            <div class="cnt">
                <ul>
                    <li>
                        혈액 내 전해질, 산소, 이산화탄소, pH 등을 통해 현재 반려동물의 신체 상태를
                        확인할 수 있는 매우 중요한 검사로 대학병원급 및 대형 유명동물병원 등에서도
                        유용하게 사용되는 최신 검사 장비
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/3번 응고계검사기.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>응고계검사기</h3>
            <div class="cnt">
                <ul>
                    <li>최고의 시연성과 정확성 그리고 신뢰성을 가진 장비</li>
                    <li>간편한 조작과 검사 속도 단축</li>
                    <li>17가지의 종합적인 검사가 소량의 혈액(혈액 한방울정도)만으로 가능 (ALP,ALT,T-BIL,BUN,CRE,T-PRO,ALB,GLOB,AMY,GLU,P,Ca,Na,K,HEM,Lip,lct)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/4번 호르몬검사기.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>호르몬검사기</h3>
            <div class="cnt">
                <ul>
                    <li>빠른 검사 속도(6~7분)</li>
                    <li>전 처리 과정 불필요(모든 시약은 카트리지 내에 포함)</li>
                    <li>검체 흡입 및 분주에서 검사 완료까지 전 과정이 자동화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/5번 항암 보호 장구(마스크,장갑,고글).jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>항암 보호 장구(마스크,장갑,고글)</h3>
            <div class="cnt">
                <ul>
                    <li>항암 약품과 같이 위험도가 높아 보다 안전성을 요하는 작업으로부터 시술자를 보호</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/5번 항암 후드.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>항암 후드</h3>
            <div class="cnt">
                <ul>
                    <li>위험도가 높거나 휘발성이 강한 약품 취급 시, 취급자의 안전과 오염을 막기 위한 무균 작업대</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/6번 Idexx Chemistry.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>Idexx Chemistry(혈청검사기)</h3>
            <div class="cnt">
                <ul>
                    <li>미국 Idexx사에서 생산된 분석 장비</li>
                    <li>정확도가 높으며, 간/신장/혈당 등 혈액 기본검사항목과 함께 칼슘, 인, 암모니아 등 특수검사 가능</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/7번 엑스레이.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>X-Ray DR (방사선영상촬영기)</h3>
            <div class="cnt">
                <ul>
                    <li>전문 수의용 디지털 방사선 영상 촬영 장비로 간편한 조작과 고퀄리티의 영상을 단시간에 얻을 수 있는 가장 기본적인 영상 진단 장비 중 하나</li>
                    <li>영상 진단 검사 시간 단축으로 반려동물의 스트레스 최소화 가능</li>
                </ul>
             </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/8번 초음파영상검사기.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>초음파영상검사기</h3>
            <div class="cnt">
                <ul>
                    <li>이전의 어떤 제품보다 정밀한 영상진단 가능 특히, 심장초음파에 있어서 뛰어난 영상을 보여주며, 복부영상 진단에 있어서도 세밀하고 구체적인 영상 진단 가능</li>
                    <li>영상 진단 검사 시간 단축으로 반려동물의 스트레스 최소화 가능</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/9번 정형외과 수술팩.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과 수술팩</h3>
            <div class="cnt">정형외과 수술팩</div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/10번 정형외과용 가스드릴.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 가스드릴</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술 중 각종 Plate와 Screw를 채결하기 위한 의료장비</li>
                    <li>압력을 이용한 방식으로 시술부의 자극 최소화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/10번 정형외과용 전기드릴.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 전기드릴</h3>
            <div class="cnt">
                <ul>
                    <li>보다 미세한 조절과 자극을 보다 최소화 하기 위한 의료장비</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/11번 정형외과용 수동드릴 및 가이드-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 수동드릴</h3>
            <div class="cnt">
                <ul>
                    <li>보다 미세한 조절과 자극을 보다 최소화 하기 위한 의료장비</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/12번 정형외과용 saw 모듈-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 saw</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술 중 절단을 위해 사용되는 의료장비</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/13번 정형외과용 임플란트 세트 1-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 임플란트 세트</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술에서 체내로 삽입되는 Screw와 Plate가 Set로 구성</li>
                    <li>검증된 제조사에서 정밀한 세공과정을 거쳐 체내 삽입이 가능하도록 제작된 시술 기구</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/13번 정형외과용 임플란트 세트 2-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 임플란트 세트</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술에서 체내로 삽입되는 Screw와 Plate가 Set로 구성</li>
                    <li>검증된 제조사에서 정밀한 세공과정을 거쳐 체내 삽입이 가능하도록 제작된 시술 기구</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/14번 정형외과용 Locking Plate 세트 1-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 Locking Plate 세트</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술에서 체내로 삽입되는 Screw와 Plate가 Set로 구성</li>
                    <li>검증된 제조사에서 정밀한 세공과정을 거쳐 체내 삽입이 가능하도록
                        제작된 시술 기구</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/14번 정형외과용 Locking Plate 세트 2-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 Locking Plate 세트</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술에서 체내로 삽입되는 Screw와 Plate가 Set로 구성</li>
                    <li>검증된 제조사에서 정밀한 세공과정을 거쳐 체내 삽입이 가능하도록 제작된 시술 기구</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/15번 정형외과용 Locking Plate 세트(소형)-1.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>정형외과용 Locking Plate 세트(소형)</h3>
            <div class="cnt">
                <ul>
                    <li>정형외과 수술에서 체내로 삽입되는 Screw와 Plate가 Set로 구성</li>
                    <li>검증된 제조사에서 정밀한 세공과정을 거쳐 체내 삽입이 가능하도록 제작된 시술 기구</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/16번 안과수술팩 접안경.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>접안경</h3>
            <div class="cnt">안구를 직접 관찰하는 기기</div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/17번 종양수술팩.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>종양수술팩</h3>
            <div class="cnt">종양수술팩</div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/18번 신경외과수술팩.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>신경외과수술팩</h3>
            <div class="cnt">신경외과수술팩</div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/19번 Ethicon 초음파메스.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>Etchicon Endo-Surgery Generator Harmonic Scalpel
                (초음파메스)</h3>
            <div class="cnt">
                <ul>
                    <li>초당 55,000 이상의 진동과 열을 이용하여 지혈과 절개를 동시에 시술할 수
                        있는 최신 외과 수술 장비</li>
                    <li>기존 외과적 수술법과 비교하여 출혈감소 및 조직손상 최소화를 통해 보다
                        빠른 환자의 회복을 기대 가능</li>
                    <li>수술 및 마취시간 단축을 통한 환자의 수술 스트레스 최소화</li>
                    <li>인의병원에서도 인정하고 여러 시술에 직접 사용하고 있는 만큼 검증되고
                        안전한 수술기구</li>
                    <li>조직손상의 최소화</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/20번 내시경.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>내시경</h3>
            <div class="cnt">
                <ul>
                    <li>내시경 시술에서 필요에 의해 사용되는 여러가지 포셉</li>
                    <li>필요에 따라 사용이 가능한 여러가지 모양으로 제작 (그물망, 집게, 트위스트, 삼발이, etc…)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/21번 ECG.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>ECG</h3>
            <div class="cnt">
                <ul>
                    <li>응급환자, 중환자의 심장리듬과 심박수를 전위를 이용하여 그래프로
                        나타내 주는 의료장비</li>
                    <li>환자의 심장리듬과 심박수 변화를 실시간으로 확인</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/21번 호흡마취기(Muraco MA300).jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>호흡마취기(Muraco MA300)</h3>
            <div class="cnt">
                <ul>
                    <li>환자 마취시, 기도 삽관을 통해 산소를 공급하고 마취용량을 조절할 수
                        있어 노령견과 장시간 소요되는 수술에서도 마취 위험도를 감소 가능</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/23번 안과수술팩.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>안과수술팩</h3>
            <div class="cnt">안과수술팩</div>
        </div>
    </div>
    <div class="eqList">
        <img src="images/equipment/24번 덴탈유닛.jpg" class="thumbs" alt="">
        <div class="cont">
            <h3>덴탈유닛</h3>
            <div class="cnt">
                <ul>
                    <li>단순 스케일링, 폴리싱, 치아골절, 레진 등 대부분의 치과 시술 전용 Unit</li>
                </ul>
            </div>
        </div>
    </div>


</div>