<nav class="lnb bg1">
    <h2>병원소개</h2>
    <ul>
        <li><a href="#" ui-sref="homeInfo">인사말</a></li>
        <li><a href="#" ui-sref="homeInfo.staff" ui-sref-opts="{reload: true}">의료진 소개</a></li>
        <!-- <li><a href="#" ui-sref="homeInfo.institution">시설 소개</a></li> -->
        <li><a href="#" ui-sref="homeInfo.equipment">보유장비 소개</a></li>
        <li><a href="#" ui-sref="homeInfo.info">진료시간 안내</a></li>
    </ul>
</nav>

<div class="lnbInfo">
    <div class="cpTime">
        <dl class="basic">
            <dt>일반진료</dt><dd>10:00 ~ 21:00</dd>
            <dt>야간진료</dt><dd>21:00 ~ 00:00</dd>
            <dt>응급진료</dt><dd>00:00 ~ 10:00</dd>
        </dl>
        <dl class="meal">
            <dt>점심시간</dt><dd>1시~2시</dd>
            <dt>저녁시간</dt><dd>6시~7시</dd>
        </dl>
    </div>

    <div class="cpTel">
        <dl class="hosiptal">
            <dd>032-348-7975</dd>
        </dl>
        <dl class="beauty">
            <dt>미용실</dt><dd>032-348-7976</dd>
        </dl>
    </div>
</div>