<div class="contents sub">
    <div class="lnbWrap" ui-view="menu">
    </div>
    <section class="subCon" ui-view>
        <div class="subHdr">
            <h1>인사말</h1>
        </div>
        <div class="basicCon">
            <img src="images/img_ceo.jpg" alt=""><br><br><br>

            저희 이지동물의료센터는 지난 2004년, 부천에 여러분의 귀한 반려동물들을 만나기 위해 개원하였습니다. 반려동물 가족분들의 관심과 사랑으로 인해 현재는 1•2층 규모로 좀 더 넓고, 깨끗하고, 편리해진 시설로 반려동물과 보호자님들을 맞이할 수 있게 되었답니다.<br><br>

            많은 가족이 함께 모여 살던 대가족 중심의 사회에서 도시중심의 핵가족화가 일반화 되면서, 이제 반려동물은 우리의 삶 속에 무척 깊은 곳까지 자리잡아 가족의 구성원이 되었습니다. 그런 가족이 말을 하지 못하기에 더욱 더 애틋하고, 가슴 아파하시며, 편안하고, 더 높은 질의 진료를 원하고 계시다는 것을 저희들은 누구보다 잘 느끼고 있답니다. 그래서 저희 ‘이지’는 모든 삶의 순간 순간에 반려동물이 가족들과 함께 평생 행복한 삶을 지켜드리기 위해 최선을 다하고 있습니다.<br><br>

            반려동물 역시 내 자식처럼 귀한 생명임에도 밤늦은 시간 응급한 상황에 처한 여린 목숨을 안고 어쩔 줄 몰라 하시던 여러분의 아픔을 잘 알고 있었기에 <strong>저희 “이지”는 365일 24시간 여러분의 반려동물을 위해 문을 활짝 열어두고 기다리고 있을 것입니다.</strong> 또한 하나의 작은 생명이라도 그 고귀함을 알기에 최첨단의 의료시설을 재정비함은 물론이거니와 최신 수의학의 지속적인 탐구를 통해 정확한 진단과 안정적인 치료기법을 끊임없이 연구하고 있습니다.<br><br>

            항상 따뜻하고 친절한 웃음으로 반려동물과 가족들의 마음까지 어루만져 주시는 원장님들을 비롯해, 매너있으시면서 실력도 뛰어나신 부원장님들, 그리고 젊고 패기 넘치는 진료수의사 선생님들, 환자를 보호자의 마음으로 간호하고 아픔까지 같이 나누는 동물 간호사 선생님들, 미용사 선생님들이 항상 반려동물과 보호자님들께서 “이지”를 찾으실 때마다 언제나 편안한 쉼을 얻고 돌아가신다는 마음이 드실 수 있도록 노력하고 있습니다.<br><br>

            “고여있는 물은 썩는다”는 말이 있지요. 최근의 수의학은 사람병원처럼 급격한 발전속도를 보이고 있으며, 다양한 질병만큼이나 진단기법과 치료방법이 매일 홍수처럼 쏟아지고 있습니다. 저희 <strong>‘이지’는 이러한 흐름에 뒤쳐지지 않고 한 발짝 앞서 나갈 수 있도록 각종 세미나와 학회 등의 학술교류를 통해 외부와 내부에서 생명의 진리탐구를 향해 끊임없이 노력하고 있습니다.</strong> ’그저 이 정도면 돼…’라는 안일함으로 퇴보하지 않기 위해 바로 지금 이순간에도 쉬지 않고, 열과 성을 다하고 있습니다.<br><br>

            모든 생명은 태어나면서 늙어간다는 말이 있지요, 이제 노령의 변화는 반려동물에게도 중요한 관심분야가 되었습니다. 저희 ‘이지’는 사람에서처럼 <strong>중요 노령질환인 심장과 신장, 신경계문제, 종양과 항암치료, 노령견의 고난위도 수술을 정확한 진단과 확실한 치료를 위해 특성화센터가 준비되어 반려동물의 ‘노령의 삶’의 질을 개선시키고자 최선을 다하고 있습니다.</strong> 이러한 목표와 시스템을 바탕으로 전국의 그 어떤 병원과 비교해도 부끄럽지 않은 최고의 시설과 의료진, 그리고 무엇보다 반려동물에 대한 진심 어린 관심과 사랑으로 경기지역 최고의 병원이 될 것임을 자신 있게 말씀 드릴 수 있습니다.<br><br>

            점점 경제는 어려워지고 세상의 서슬 퍼런 경쟁에 지쳐계신 반려동물가족들께 항상 보석같이 빛나는 눈동자로 한결 같은 믿음과 신뢰 그리고 사랑을 보내주는 우리의 귀한 반려동물들….<br>
            어쩌면 우리가 그들을 돌보아 주고 있는 것이 아니라 그들로부터 사랑과 위로를 선물 받으며 살고 있는 것이 아닌가 생각해 보기도 합니다.<br><br>

            사람의 삶보다 짧지만, 그 삶이 더 함축적이라서 그 예쁜 눈빛에 한꺼번에 많은 말들을 쏟아낼 줄 아는 그들일까요?<br>
            그 귀한 반려동물들이 좀 더 건강하게, 좀 더 오래도록 여러분과 함께 사랑스런 눈빛을 나눌 수 있도록 오늘도 저희 “이지”는 더욱더 열심히 가슴으로 뛸 것을 약속 드립니다.<br><br>

            오늘도 한번 여러분의 반려동물을 안고서 말씀해 주시겠어요?<br>
            ‘너를 사랑해’<br>
            ‘네가 최고야<br>
            ‘건강하게 오래오래 함께 행복하자’고…….<br><br>

            </p>
        </div>
    </section>
</div>