<div class="subHdr">
    <h1>공지사항</h1>
</div>
<div class="basicCon">

    <div class="tbViewer">
        <h2 class="tbvTitle">{{title}}</h2>
        <div class="tbCon" id="contents"></div>
    </div>

    <div class="btnArea">
        <div class="btnSub">
            <button type="button" class="btn btn-normal" ng-click="cancelBoard()">목록</button>
        </div>
        <div class="btnMain">
            <button type="button" class="btn btn-confirm" ng-click="deleteBoard()">삭제</button>
            <button type="button" class="btn btn-confirm" ng-click="editBoard()">수정</button>
        </div>
    </div>

</div>