<div>
    <form>
        <table width="100%">
            <tr>
                <td>제목</td>
                <td><input type="text" ng-model="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td id="contents"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" ng-click="cancelBoard()" value="목록" />
                    <input type="button" ng-click="deleteBoard()" value="삭제" />
                    <input type="button" ng-click="editBoard()" value="수정" />
                </td>
            </tr>
        </table>
            
            
    </form>
</div>
