<div>
    <form>
        <table width="100%">
            <tr>
                <td>제목</td>
                <td><input type="text" ng-model="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="smarteditor" id="smarteditor" rows="10" cols="100" style="height:412px;"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" ng-click="cancelBoard()" value="취소" />
                    <input type="button" ng-click="saveBoard()" value="저장" />
                </td>
            </tr>
        </table>
            
            
    </form>
</div>
