<div class="contents sub">
    <div class="lnbWrap" ui-view="menu">
    </div>
    <section class="subCon" ui-view>
        <div class="subHdr">
            <h1>공지사항</h1>
        </div>
        <div class="basicCon">
            <table class="tbNormal">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col style="width:20%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>NO</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="list in boardList">
                    <td>{{$index + 1}}</td>
                    <td class="left"><a role="button" class="tLink" ng-click="viewBoard(list.boardSeq)">{{list.title}}</a></td>
                    <td>{{list.username == null ? '관리자' : list.username}}</td>
                    <td>{{list.regDate}}</td>
                    <td>{{list.rcount}}</td>
                </tr>
                </tbody>
            </table>
            <div id="page-selection"></div>

            <div class="btnArea">
                <div class="btnMain">
                    <button type="button" class="btn btn-confirm" ng-click="createBoard()">글쓰기</button>
                </div>
            </div>

        </div>
    </section>
</div>