<!-- pc 컨텐츠 시작-->
<div id="sub_pc">
    <p class="top_area"><img src="images/sub0102_tt.jpg" alt="#"></p>
    <p class="cont_area"><img src="images/sub0102_cont01.jpg" alt="#"></p>
</div>
<!-- // pc 컨텐츠 끝-->

<!-- 모바일 컨텐츠 시작-->
<div id="sub_mo" style="margin-top:210px; padding-bottom:0;">
    <div class="m_top_area">
        <h4>연혁</h4>
        <p class="m_tt01">서울특별시 수의사회가 밟아온 발자취입니다.</p>
        <p class="m_tt02">서울시수의사회 홈페이지가 수의사는 물론 동물을 사랑하는 모든 분들에게 유익한 정보를 제공하고 바람직한 반려동물 문화의 요람이 되고자 새롭게 개편되었습니다.</p>
    </div>
    <p class="m_img01" style="margin:20px 0 0 0;"><img src="images/m_sub0102_cont01.jpg" alt="#"></p>
    
    
    <!--<p class="btn_top_go"><a href="#">--&nbsp;&nbsp;TOP&nbsp;&nbsp;--</a></p>-->
</div>
        